<!DOCTYPE html>
<html ng-app="myApp" lang="en" >
<head>
  <META CHARSET="UTF-8">
    <title>Helping Network Help Others and Receive Help Mobile Page</title>
      <meta name="keywords" content="helping-network, help-network, help-others , receive-help, helping-community">
      <meta name="description" content="help and receive help based on time exchange">
      <meta name="fragment" content="!">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    {% include 'staticfiles.html' %}

</head>

<body ng-controller="MasterCtrl">
<div class="container-fluid" ng-style ="$root.topBodyVariableStyle">
    <div id="wrapper">
        <!-- Navigation -->

<nav>
<div id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavBarController">
    <div class="container-fluid">

        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-left"  >
                <li><a style="padding: 5px 8px" href="/#/help_others" translate>Help Others</a>
                </li>
                <li><a style="padding: 5px 8px" href="/#/receive_help" translate>Help!</a>
                </li>
                <li><a style="padding: 5px 8px" href="/#/about_us">?</a>
                </li>
                                 <li class="dropdown">
            <a class="dropdown-toggle languageSelector" data-toggle="dropdown">
                <img src="../static/img/flags/{{!selectedLanguage.flagName}}"/>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu languageSelector">

                <li ng-repeat="language in languages" ng-click="changeLanguage($event, language)"><a><img src="../static/img/flags/{{!language.flagName}}"/>{{!language.name}}</a></li>

               <!-- <li><a href="javascript:void(0)"  ng-click="console.log('clicked');"><img src="/static/img/flags/US.png"/> Deutsch</a></li>
                <li><a href="javascript:void(0)"  ng-click="console.log('clicked');"><img src="/static/img/flags/ES.png"/> Español</a></li>
            -->
            </ul>
        </li>
                                <li class="dropdown pull-right" style="background-color: white !important;">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <!--                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i> -->
                        <img ng-src="{{!imageSource}}" class="img-circle" style="max-width:25px;height: auto;">
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li class="topNavBarDropdown"><a href="#/profile"><i class="fa fa-user fa-fw"></i>{{!profileMenuName}}</a>
                        </li>
                        <li class="divider"></li>
                        <li class="topNavBarDropdown"> <a href="{{!authUrl}}">
                      {{!authText}}
                    </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>

            </ul>
        </div>
    </div>
</div>
</nav>

        <div ng-view>

        </div>

        <div class="container-fluid" style="background-color: white; min-height: 15px;">
        </div>

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ static_url("js/bootstrap.min.js")}}"></script>


    <!-- Custom Theme JavaScript -->
    <script src="{{ static_url("js/sb-admin-2.js")}}"></script>

    <script src="{{ static_url("js/metisMenu.min.js")}}"></script>

</div>
</body>


</html>
