<!DOCTYPE html>
<html ng-app="myApp" lang="en" >
<head>
  <META CHARSET="UTF-8">
    <title>Helping Network Help Others and Receive Help</title>
      <meta name="keywords" content="helping-network, help-network, help-others , receive-help, helping-community">
      <meta name="description" content="help and receive help based on time exchange">
      <meta name="fragment" content="!">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

      {% include 'staticfiles.html' %}
</head>

<body ng-controller="MasterCtrl">
<div class="container-fluid" ng-style ="$root.topBodyVariableStyle">
    <div id="wrapper">
        <!-- Navigation -->





            <div class="navbar-default sidebar helping-network-navbar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <p class="billi-headline" style="padding-left:35px">Beta</p>

                        <div style="padding-top: 10px">
                    <a href="/" target="_self"><img alt="" ng-src="{{!$root.viewLogoUrl}}" class="img-responsive" style="padding-left: 30px; background-color: white;"></a>
                        </div>



                        <li>
                            <a href="javascript:void(0)" class="emptyMenuLink"></a>
                        </li>

                        <li>
                            <div class="clearfix">
                                <div class="sideMenuEntry">
                                    <a href="/#/profile"><img ng-src="/static/icons/profile_{{!selectedLanguage.locale}}.png" alt="Profile" /></a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="clearfix">
                                <div class="sideMenuEntry">
                                    <a href="/#/help_others" id="step8"><img ng-src="/static/icons/help_others_{{!selectedLanguage.locale}}.png"  alt="Help Others"/></a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="clearfix">
                                <div class="sideMenuEntry">
                                    <a href="/#/receive_help" id ="step9"><img ng-src="/static/icons/receive_help_{{!selectedLanguage.locale}}.png" alt="Help!" /></a>
                                </div>
                            </div>
                        </li>


                        <li>
                            <div class="clearfix">
                                <div class="sideMenuEntry">
                                    <a href="/#/about_us"><img ng-src="/static/icons/about_us_{{!selectedLanguage.locale}}.png" alt="How it works" /></a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="clearfix">
                                <div class="sideMenuEntry">
                                    <a href="/#/contact"><img ng-src="/static/icons/contact_{{!selectedLanguage.locale}}.png" /></a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div ng-view>

        </div>

        <div class="container-fluid" style="background-color: white; min-height: 15px;">
        </div>

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ static_url("js/bootstrap.min.js")}}"></script>


    <!-- Custom Theme JavaScript -->
    <script src="{{ static_url("js/sb-admin-2.js")}}"></script>

    <script src="{{ static_url("js/metisMenu.min.js")}}"></script>

</div>
</body>