<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Helping Network - Help Others and Receive Help</title>

   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

        <script src="{{ static_url("js/bootstrap.min.js")}}"></script>


    <script>
    $( document ).ready(function() {
      console.log('jquery');
        $('[data-toggle=offcanvas]').click(function() {
    $('.row-offcanvas').toggleClass('active');
    });

    });


    </script>




        <link href="{{static_url("css/bootstrap.min.css")}}" rel="stylesheet">
   <link href="{{ static_url("css/hn_redesign.css")}}" rel="stylesheet">
          {% include 'staticfiles.html' %}


       <script type="text/ng-template" id="searchbox.tpl.html">
       <input id="searchBoxReceiveHelp" class="google-map-input-field" type="text"
            placeholder="Location" >
   </script>


</head>
<body  ng-controller="MasterCtrl">

<div class="hn-container-fluid" ng-style ="$root.topBodyVariableStyle">



<div class="hn-fluid-container" ng-controller="NavBarController">

      <div class="row row-offcanvas row-offcanvas-left" style="background-color:white !important;">

         <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">


              <ul class="nav nav-sidebar">


                        <div style="padding-top: 85px">
                    <a href="/" target="_self"><img alt="" ng-src="{{!$root.viewLogoUrl}}" class="img-responsive hn-header-logo" style="padding-left: 30px; background-color: white;"></a>
                        </div>



                        <li>
                            <a href="javascript:void(0)" class="emptyMenuLink"></a>
                        </li>

                        <li>
                            <div class="clearfix">
                                <div class="sideMenuEntry">
                        <a href="/#/profile"><img class="img-responsive" ng-src="{{!isBigScreen() && profileUrl || '/static/icons/profile_sm.png'}}"/></a>
                        </div>
                                </div>

                        </li>

                        <li>
                            <div class="clearfix">
                                <div class="sideMenuEntry">
                                    <a href="/#/help_others" id="step8"><img class="img-responsive" ng-src="{{!bigScreen == true && helpOthersUrl || '/static/icons/help_others_sm.png'}}" alt="Profile" /></a>
                                </div>
                            </div>
                        </li>


                        <li>
                            <div class="clearfix">
                                <div class="sideMenuEntry">
                                    <a href="/#/receive_help" id ="step9"><img class="img-responsive" ng-src="{{!bigScreen == true && receiveHelpUrl || '/static/icons/receive_help_sm.png'}}" alt="Help!" /></a>
                                </div>
                            </div>
                        </li>


                        <li>
                            <div class="clearfix">
                                <div class="sideMenuEntry">
                                    <a href="/#/about_us"><img class="img-responsive" ng-src="{{!bigScreen == true && aboutUsUrl || '/static/icons/about_us_sm.png'}}" alt="How it works" /></a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="clearfix">
                                <div class="sideMenuEntry">
                                    <a href="/#/contact"><img class="img-responsive" ng-src="{{!bigScreen == true && contactUrl || '/static/icons/contact_sm.png'}}" /></a>
                                </div>
                            </div>
                        </li>

                    </ul>


        </div><!--/span-->

        <div class="col-sm-9 col-md-10" style="background-color: white">
        <nav class="navbar navbar-inverse navbar-default helping-network-navbar" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
                 <li class="dropdown">
            <a class="dropdown-toggle languageSelector" data-toggle="dropdown">
                {{!getLanguage().name}}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu languageSelector">

                <li ng-repeat="language in languages" ng-click="changeLanguage($event, language)"><a><img ng-src="{{!getFlagSource(language)}}"/>{{!language.name}}</a></li>

               <!-- <li><a href="javascript:void(0)"  ng-click="console.log('clicked');"><img src="/static/img/flags/US.png"/> Deutsch</a></li>
                <li><a href="javascript:void(0)"  ng-click="console.log('clicked');"><img src="/static/img/flags/ES.png"/> Español</a></li>
            -->
            </ul>
        </li>
                              <li class="dropdown pull-right" style="background-color: white !important;">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <!--                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i> -->
                        <img ng-src="{{!imageSource}}" class="img-circle" style="max-width:40px;height: auto;">
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li class="topNavBarDropdown"><a href="#/profile"><i class="fa fa-user fa-fw"></i>{{!profileMenuName}}</a>
                        </li>
                        <li class="divider"></li>
                        <li class="topNavBarDropdown"> <a href="{{!authUrl}}">
                      {{!authText}}
                    </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>

          </ul>


        </div>
      </div>
</nav>

            <!--toggle sidebar button-->
          <p class="visible-xs">
            <button type="button" class="btn btn-primary btn-xs" ng-style ="$root.topBodyVariableStyle" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
          </p>


                <div ng-view>

                </div>

            <div class="hn-fluid-container" style="background-color: white; min-height: 15px;"></div>

      </div><!--/row-->
	</div>
</div><!--/.container-->

</div>



</body>
</html>