<!-- attach CSS styles -->
 <!--   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"> -->
    <style>
        .angular-google-map-container { height: 400px; }
    </style>
    <link href="{{static_url("css/bootstrap-social.css")}}" rel="stylesheet">



    <link href="{{static_url("css/style.css")}}" rel="stylesheet">
   <link href="{{ static_url("css/loading-bar.css")}}" rel="stylesheet">

    <!-- Helping Network CSS -->

    <!-- Custom CSS -->
    <link href="{{ static_url("css/theme-style.css")}}" rel="stylesheet">

    <link href="{{ static_url("css/metisMenu.min.css")}}" rel="stylesheet">

    <link href="{{static_url("css/font-awesome.min.css")}}" rel="stylesheet">
        <link href="{{static_url("css/angular-chart.css")}}" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/1.1.1/introjs.min.css" rel="stylesheet">


    <link href="{{ static_url("css/new_profile.css")}}" rel="stylesheet">
    <link href="{{ static_url("css/ng-tags-input.min.css")}}" rel="stylesheet">
    <link href="{{ static_url("css/leaflet.css")}}" rel="stylesheet">

        <link href="{{ static_url("css/ng-tags-input.min.css")}}" rel="stylesheet">

    <link href="{{ static_url("css/angular-wizard.css")}}" rel="stylesheet">

<script src="{{ static_url("js/leaflet.js")}}"></script>


    <script src="{{ static_url("js/jquery-1.10.2.js")}}"></script>

    <script src="{{ static_url("js/html5shiv.js")}}"></script>
    <script src="{{ static_url("js/respond.min.js")}}"></script>


    <script src="{{ static_url("js/angular-file-upload-shim.js")}}"></script>
    <script src="{{ static_url("js/angular.js")}}"></script>
    <script src="{{ static_url("js/angular-file-upload.js")}}"></script>


    <script src="{{ static_url("js/angular-cookies.js")}}"></script>
    <script src="{{ static_url("js/angular-route.js")}}"></script>
    <script src="{{ static_url("js/angular-sanitize.min.js")}}"></script>


    <script src="{{ static_url("js/ngAutocomplete.js")}}"></script>
    <script src="{{ static_url("js/promise-tracker.js")}}"></script>
    <script src="{{ static_url("js/geolocation.js")}}"></script>
    <script src="{{ static_url("js/geolocation.js")}}"></script>
    <script src="{{ static_url("js/angular-parallax.js")}}"></script>
    <script src="{{ static_url("js/scrollglue.js")}}"></script>
    <script src="{{ static_url("js/loading-bar.js")}}"></script>

    <script src="{{ static_url("js/dashboard.min.js")}}"></script>

    <script src="{{ static_url("js/angular-cookies.js")}}"></script>

    <script src="{{ static_url("js/angular-resource.js")}}"></script>
    <script src="{{ static_url("js/angular-local-storage.js")}}"></script>


    <script src="{{ static_url("js/ui-bootstrap-tpls-0.11.0.js")}}"></script>
        <script src="{{ static_url("js/ng-tags-input.min.js")}}"></script>
        <script src="{{ static_url("js/chart.min.js")}}"></script>
    <script src="{{ static_url("js/angular-chart.js")}}"></script>

    <script src="{{ static_url("js/angulartics.min.js")}}"></script>
    <script src="{{ static_url("js/angulartics-ga.min.js")}}"></script>

    <script src="{{ static_url("js/angular-gettext.js")}}"></script>
    <script src="{{ static_url("js/gm.datepickerMultiSelect.js")}}"></script>
           <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>

            <script src="{{ static_url("js/angular-underscore.js")}}"></script>

         <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.1/sockjs.js"></script>
             <script src="{{ static_url("js/index.js")}}"></script>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/1.1.1/intro.min.js"></script>

    <script src="{{ static_url("js/translations.js")}}"></script>
    <script src="{{ static_url("js/elastic.js")}}"></script>
    <script src="{{ static_url("js/app_v2.js")}}"></script>
    <script src="{{ static_url("js/services.js")}}"></script>
    <script src="{{ static_url("js/controllers_v2.js")}}"></script>
    <script src="{{ static_url("js/filters.js")}}"></script>
    <script src="{{ static_url("js/directives.js")}}"></script>

    <script src="{{ static_url("js/angular-gm.min.js")}}"></script>

    <script src="{{ static_url("js/Google.js")}}"></script>
    <script src="{{ static_url("js/angular-leaflet-directive.js")}}"></script>

    <!-- angular google maps -->
    <script src="{{ static_url("js/lodash.min.js")}}"></script>
    <script src="{{ static_url("js/angular-google-maps.min.js")}}"></script>

    <!-- /angular google maps  -->



    <script src="{{ static_url("js/angular-validator.js")}}"></script>
        <script src="{{ static_url("js/angular-intro.js")}}"></script>
        <script src="{{ static_url("js/angular-wizard.js")}}"></script>





    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxqTor5FY40wCH6rCizC3WLmR3GzecRIk&libraries=places"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', ' UA-71321304-1', 'auto');

</script>
