<!DOCTYPE html>
<html lang="en">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{{ title }}</title>
    <script
			  src="https://code.jquery.com/jquery-3.0.0.min.js"
			  integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="
			  crossorigin="anonymous"></script>

    <script>
                        $(document).ready(function() {
                    if (!window.console) window.console = {};
                    if (!window.console.log) window.console.log = function () {
                    };
                  var show_message =function(message){
        			var el = document.createElement('div');
        			el.innerHTML = message;
        			document.body.appendChild(el);
        		};

                 args._xsrf = getCookie("_xsrf");
                    $.ajax({
                                url: url, data: $.param(args), dataType: "text", type: "POST", async: true,
                                success: function(response) {
                                    if (callback) callback(eval("(" + response + ")"));
                                },


                  var ws = new WebSocket("wss://localhost:5000/tornadoredis/track/ajsdpfjaspdfoa");
	            ws.onopen = function() {
	                show_message('Connected.');
	            };
	            ws.onmessage = function(event) {
	            	show_message(event.data);
	            };
	            ws.onclose = function() {
	            	show_message("Closed.");
	            };

                    // Bind the submit event of the form input to postMessage().
              $( "#target" ).submit(function( event ) {
                  var chatMessage = $('#chatMessage').val();
  console.log( "form submitted with the value: ", chatMessage );
                $.post( "/tornadoredis/msg", function( data ) {
                //$( ".result" ).html( data );
});
                  //ws.send(chatMessage);
                  event.preventDefault();
});
                });
    </script>

    <script>
        	function open_websocket(){
        		function show_message(message){
        			var el = document.createElement('div');
        			el.innerHTML = message;
        			document.body.appendChild(el);
        		}

        	}

            var  postMessage = function(form) {
    var value = form.find("input[type=text]").val();
    var message = {body: value};
    message._xsrf = cookie("_xsrf");
    message.user = cookie("user");
    var disabled = form.find("input");
    disabled.attr("disabled", "disabled");
    // Send message using websocket.
    ws.send(JSON.stringify(message));
    // @todo: A response if successful would be nice.
    console.log("Created message (successfuly)");
    $("#message-input").val("").select();
    disabled.removeAttr("disabled");


}

        </script>
    </head>
    <body onload="open_websocket()">
        <h1>{{ title }}</h1>
        <p>Enter your message and press the 'Send' button. You may open another browser window and send messages from here.</p>

        <form id="target" action="destination.html">
  <input type="text" value="Hello there" id="chatMessage">
  <input type="submit" value="Go">
                    	  {% module xsrf_form_html() %}

</form>
<div id="other">
  Trigger the handler
</div>



        {# <form method="POST" id="chat-input" > <!--action="/tornadoredis/msg" > -->
        	  {% module xsrf_form_html() %}
            <input name="message"  id="message-input" style="width: 500px;border: 1px solid #CCC;padding: 3px;" value="" placeholder="Enter your message here and press the 'Send' button."/>
        	<input type="submit" value="go">
        </form> #}
        <h2>Messages</h2>
        <hr/>
    </body>
</html>