<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Helping Network - Help Others and Receive Help</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

        <script src="{{ static_url("js/bootstrap.min.js")}}"></script>


    <script>
    $( document ).ready(function() {
      console.log('jquery working');
        $('[data-toggle=offcanvas]').click(function() {
    $('.row-offcanvas').toggleClass('active');
    });
    });


    </script>


        <link href="{{static_url("css/bootstrap.min.css")}}" rel="stylesheet">
   <link href="{{ static_url("css/hn_redesign.css")}}" rel="stylesheet">
          {% include 'staticfiles.html' %}




</head>
<body>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					You have been unsubscribed.
				</h2>
				<p>
					You will not receive any more email messages like this from Helping Network. We are sorry that this service was inconvenient for you and hope that you will still be part of our page in the future.
                    If you want to undo this action send an email with the subject "subscribe" to admin@helping.network.
				</p>

			</div>
		</div>
	</div>
</div>
</body>
</html>