<div ng-controller="ForeignUserPageController">
    <div class="hn-fluid-container" style="background-color: white;">



        <div id="page-wrapper_top">
            <div class="row">
                <div class="col-lg-12" style="min-height: 30px">

                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    </div>

    <div class="hn-fluid-container" style="">

        <div id="page-wrapper_profile_heading_title">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="headline1">{{firstName}} {{lastName}}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    </div>
    <div class="hn-fluid-container" style="background-color: white">


        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="hn-fluid-container">

                <div class="row">

                    <div style="min-height: 30px">
                        <p class="billi-headline" translate>profile</p>

                        <!-- placeholder for the color -->
                    </div>

                    <div class="col-lg-12">
                        <div class="panel panel-default removePanelBorder">


                            <div class="col-lg-12 profile-top-black-box"
                                 style="padding-left: 0px ;padding-right: 0px ;">

                                <div class="col-lg-3"
                                     style="padding-left: 0px;padding-right: 0px; padding-top: 0px;">
                                    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>


                                    <div class="profile-inner-grey-box">
                                        <div class=" profile-inner-grey-box">
                                            <!--<img src="static/profile_pictures/{{userobject.userdetails.profile_picture}}"
                                                 class="img-responsive thumbmail" alt="upload your profile picture by clicking edit profile" style="width:100%; height: 230px;"> -->

                                            <div style="position: relative; left: 0; top: 0;">
                                                <img src="static/profile_pictures/{{profilePicture}}" class="img-responsive thumbmail" alt="upload your profile picture by clicking edit profile" style="width:100%; height: 230px;" style="position: relative; top: 0; left: 0;"/>
                                            </div>



                                            <!-- <img src="static/profile_pictures/{{userobject.userdetails.profile_picture}}"
                                                  class="img-responsive thumbmail" alt="upload your profile picture by clicking edit profile" style="width:100%; height: 230px;">
                                         -->
                                        </div>

                                    </div>
                                </div>


                                <div class="col-lg-9"
                                     style="padding-left: 0px;padding-right: 0px; padding-top: 15px;">

                                    <div class="col-lg-12">
                                        <div class="panel-body profile-inner-grey-box" style="min-height: 215px">
                                            <p class="profileBoxTitle" translate>About Me

                                            <p class="profileDescriptionText">{{aboutMeText}}</p>

                                        </div>
                                    </div>


                                </div>


                                <div class="col-lg-12" style="padding-top: 10px; padding-bottom: 10px;">

                                    <div class="col-lg-4"
                                         style="padding-left: 0px;padding-right: 0px; padding-top: 0px;">
                                        <div class="profile-inner-grey-box">
                                            <div class=" profile-inner-grey-box">
                                                <div class="panel-body profile-inner-grey-box" style="min-height: 182px">
                                                    <p class="profileBoxTitle" translate>My Skills


                                                    <!-- this section gets loaded if the user has no help tags defined yet -->
                                                    <ul class="" style="padding-left: 15px">
                                                        <li
                                                                class="profiledescriptiontext"
                                                                ng-repeat="u in helpTags.help_tags">
                                                            {{u}}
                                                        </li>
                                                    </ul>


                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4"
                                         style="padding-left: 10px ;padding-right: 0px; padding-top: 0px;">

                                        <div class="col-lg-12">
                                            <div class="profile-inner-grey-box">
                                                <div class=" profile-inner-grey-box" style="min-height: 70px; padding-top: 10px">
                                                    <div><p class="profile-middle-box-heading" translate>Karma Points <span style="color:#276874; padding-left: 5px">{{karmaPoints}}</span></p></div>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-lg-12">
                                            <div class="profile-top-black-box" style="min-height: 10px">
                                                <!-- COLOR PLACEHOLDER -->
                                            </div>

                                        </div>

                                        <div class="col-lg-12">
                                            <div class="profile-inner-grey-box">
                                                <div class=" profile-inner-grey-box" style="min-height: 70px; padding-top: 10px">
                                                    <div><p class="profile-middle-box-heading" translate>Your Rating</p></div>
                                                    <ul class="list-inline ratings text-center" title="Ratings">

                                                        <li ng-repeat="i in getNumber(rating +1) track by $index">
                                                            <img src="/static/icons/Stern%20(1).png" class="img-responsive" style="padding-left: 8px!important;   width: 25px;   height: 25px;" ng-click=""></p></li>

                                                        <li ng-repeat="i in getNumber(6-(rating)) track by $index">
                                                            <img src="/static/icons/Stern%20(2).png" class="img-responsive" style="padding-left: 8px!important;   width: 25px;   height: 25px;" ng-click=""></p></li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-lg-4"
                                         style="padding-left: 0px;padding-right: 0px; padding-top: 0px;">
                                        <div class="profile-inner-grey-box">
                                            <div class=" profile-inner-grey-box">
                                                <div class="panel-body profile-inner-grey-box">

                                                    <ul class="list-unstyled">
                                                        <li>
                                                            <a href="javascript:void(0)" ng-click="activateReferencesLink();" class="openMenuLink" translate><span class="glyphicon glyphicon-star {{referencesActive}}" style="color: white" ></span><span class="profileMenuEntry {{referencesActive}}" style="padding-left: 20px">references</span></a>
                                                        </li>

                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <!-- THIS SECTION DEFINES THE BOXES THAT SHOW UP IF NO INFORMATION IS AVAILABLE IN THE PROFILEDATA TO DISPLAY -->

                        <!-- /THIS SECTION DEFINES THE BOXES THAT SHOW UP IF NO INFORMATION IS AVAILABLE IN THE PROFILEDATA TO DISPLAY -->




                        <div class="col-lg-12 profile-top-black-box" style="padding-left: 0px; padding-right: 0px" ng-show="referencesSectionActive">

                            <div class="col-lg-12" ng-show="true">

                                <div class="panel-body-profile-references-box"  style="min-height: 215px; padding-left: 15px !important; padding-right: 15px !important;">
                                    <p class="profileBoxTitle" style="padding-top: 15px;" translate>References



                                    <div class="col-lg-12"
                                         style="padding-left: 0px;padding-right: 0px; padding-top: 15px;" ng-repeat="review in reviews track by $index">
                                        <div class="profile-inner-grey-box">
                                            <div class=" profile-inner-grey-box">
                                                <div class="panel-body profile-inner-grey-box">

                                                    <div class="col-lg-1">

                                                        <a class="" href="#">
                                                            <img class="media-object img-circle" style="max-height:40px;" ng-src="/public_picture/{{review.reviewer_id.$oid}}"/>
                                                        </a>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <p class="profileReviewHeading"> {{review.reviewer}}</p>
                                                    </div>


                                                    <br>
                                                    <div class="col-lg-12">
                                                        <p>{{review.review_text}}</p>
                                                        <ul class="list-inline ratings text-center pull-left" title="Ratings">

                                                            <li ng-repeat="i in getNumber(review.rated_stars +1) track by $index">
                                                                <img src="/static/icons/Stern%20(1).png" class="img-responsive" style="padding-left: 8px!important;   width: 25px;   height: 25px;" ng-click=""></p></li>

                                    <li ng-repeat="i in getNumber(6-(review.rated_stars)) track by $index">
                                        <img src="/static/icons/Stern%20(2).png" class="img-responsive" style="padding-left: 8px!important;   width: 25px;   height: 25px;" ng-click=""></p></li>
                                    </ul>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>




                <p style="color:#989898">write this</p>
            </div>
        </div>

        <div class="col-lg-12" style="padding-left: 0px; padding-right: 0px">
            <div class="panel-body profile-top-black-box" style="min-height: 30px">
                <!-- COLOR PLACEHOLDER -->
            </div>

        </div>

    </div>







    <div class="col-lg-12" style="padding-left: 0px; padding-right: 0px">
        <div class="panel-body-profile-references-box" style="min-height: 30px">
            <!-- COLOR PLACEHOLDER -->
        </div>

    </div>

</div>




</div>


</div>

<!-- /.col-lg-12 -->
</div>
<!-- /.row -->

</div>
<!-- /.hn-fluid-container -->

</div>

<!-- /#page-wrapper -->

</div>
