
<div>
    <script type="text/ng-template" id="searchbox.tpl.html"> <input style="background-color: #fff;
padding: 0 11px 0 13px;
width: 100%;
font-family: 'Open Sans', sans-serif;
font-size: 15px;
font-weight: 300;
text-overflow: ellipsis;" type="text" placeholder="{{ 'Location...' | translate }}"> </script>

    <div id="page-wrapper_top">
    <div class="row">
            <div class="col-lg-12" style="min-height: 30px">

            </div>
            <!-- /.col-lg-12 -->
    </div>

    </div>



       <div id="page-wrapper_help_others_heading_title">
           <div class="container-fluid" style="">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="headline1" translate>Help others...</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
           </div>
    </div>


    <!-- Page Content -->
    <div id="page-wrapper_top">
        <div class="hn-fluid-container">

            <div class="row">

                <div style="min-height: 15px">


                    <!-- placeholder for the color -->
                </div>

                <div class="col-lg-12">

                    <div class="panel panel-default removePanelBorder" >


                        <div class="panel-body help-others-map-bg" style="min-height: 10px">
                            <!-- placeholder for the color -->
                        </div>
                        <p class="billi-headline" translate>and earn karma:</p>
                        <div style="min-height:30px;  padding-right: 0px !important;">
                                </div>
                            <div class="panel-body help-others-map-bg">


                                <div class="col-lg-7 removePaddingonBigScreens" id="searchBoxDiv">

                                </div>




                                <div class="col-lg-5">

                                    <a href="javascript:void(0)" ng-click="getAndUpdateUserLocation()" class="btn btn-sm btn-primary btn-primary" style="background-color: #2d856f; padding-left:10px;"><span class="glyphicon glyphicon-map-marker"></span> Location</a>

                                    <!--<img src="/static/icons/map_search.png" class="img-circle" style="max-height:35px;width: auto;padding-left: 8px!important;" ng-click="doSearch()"> -->
                                </div>


                                <div class="col-lg-8" style="padding-left: 0px !important;padding-right: 0px !important;">
                                   <!-- <sap id="map_receive_help"  pointsource="pointsFromController"></sap> -->
                                    <br>

                                    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">

                                                <ui-gmap-search-box
                                                        template='searchbox.template'
                                                        events='searchbox.events'
                                                        position="'BOTTOM_LEFT'"
                                                        parentdiv="'searchBoxDiv'"
                                                >
                                                </ui-gmap-search-box>

                                                <ui-gmap-window show="map.window.show" coords="map.window.model" isIconVisibleOnClick="false"
                                                                options="map.window.options" closeClick="map.window.closeClick()" ng-cloak>
                                                    <div>
                                                        <p><strong>{{ map.window.model.titleToShow }}</strong>
                                                            </p>
                                                        <div ng-controller='InfoController'>
                                                            {{ map.window.model.shortDescription }}

                                                            <a style="text-decoration: underline;" href="{{ map.window.model.chatLink }}" >More</a>
                                                            <br>
                                                            <p class="small">{{ offendingHrMessage }} <a href="javascript:void(0)" ng-click="markHelpRequest(this)"  title="mark as innapropiate"><i class="fa fa-bullhorn" style="color: black" ></i></a></p>
                                                            <!-- <strong>{{ markInformation }}</strong> -->
                                                        </div>
                                                    </div>
                                                </ui-gmap-window>

                                                    <ui-gmap-markers models="map.markers" coords="'self'" options="'options'" clusterOptions="map.clusterOptions" doCluster=true events="map.markersEvents">
                                                </ui-gmap-markers>
                                            <!--<ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords"  idkey="m.id" options="'options'" clusterOptions="map.clusterOptions" doCluster=true events="map.markersEvents"></ui-gmap-marker> -->

                                            </ui-gmap-google-map>
                                            <div ng-cloak>

                                            </div>


                                </div>

                                <div class="col-lg-4 pre-scrollable" style="padding-top:20px; padding-left: 5px !important;padding-right: 0px !important;">
                                    <div class="notice notice-success"  ng-repeat="helpRequest in helpRequestList">
                                        <a href="javascript:void(0)" ng-click="focusMapAndWindowToSpecificHelpRequest(helpRequest)"><strong> {{helpRequest.title}} </strong></a>({{getDistanceOfHelpRequestToUserinKm(pointToMeasueDistanceOfHelpRequests.latitude, pointToMeasueDistanceOfHelpRequests.longitude,
                        helpRequest.latitude, helpRequest.longitude)}} km)
                                    </div>


                                </div>

                            </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->


</div>
