<div ng-controller="loginPageController">
    <div class="hn-fluid-container" style="background-color: white;">

        <div id="page-wrapper_top">
            <div class="row">
                <div class="col-lg-12" style="min-height: 30px">

                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    </div>

    <div class="hn-fluid-container" style="">

        <div id="page-wrapper_profile_heading_title">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="headline1 fix-section-header" translate>Log in to continue...</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    </div>
    <div class="hn-fluid-container" style="background-color: white">

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="hn-fluid-container">

                <div class="row">

                    <div style="min-height: 30px">


                        <!-- placeholder for the color -->
                    </div>

                    <div class="col-lg-12">
                        <div class="panel panel-default removePanelBorder">
<br>
  <p class="billi-headline" translate>please log in</p>
                            <div class="col-lg-12 profile-top-black-box"
                                 style="padding-left: 0px ;padding-right: 0px; margin-top: 15px">

                                <div class="col-lg-12"  style="padding-top: 15px;">
                                    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

                                    <div class="col-lg-12"
                                         style="padding-left: 0px;padding-right: 0px; padding-top: 15px;">

                                        <div class="col-lg-12" style="padding-left: 0px; padding-right: 0px;">
                                            <div class="panel-body profile-inner-grey-box">
                                                <p class="profileBoxTitle" translate>Please select the google or facebook login to continue</p>


                                                <div class="col-lg-8">

                                                    <div class="col-lg-4">
                                                        <a href="/auth/login/google{{angularPath}}" class="btn btn-block btn-social btn-google">

                                                            <i class="fa fa-google-plus"></i>
                                                            <span translate>Sign in </span>
                                                        </a>

                                                    </div>

                                                    <div class="col-lg-4">
                                                        <a href="/auth/login/facebook{{angularPath}}" class="btn btn-block btn-social btn-facebook">

                                                            <i class="fa fa-facebook"></i>
                                                            <span translate>Sign in </span>
                                                        </a>

                                                    </div>

                                                    <!--
                                                    <div class="col-lg-3">
                                                        <a href="/auth/login/google/{{angularPath}}"><img style="height: 100px; width: auto" src="static/img/google_signin.png"/></a>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <a href="/auth/login/facebook/{{angularPath}}"><img style="height: 85px; width: auto" src="static/img/fb_signin.png"/></a>
                                                    </div> -->

                                                </div>
                                                <div class="col-lg-4">
                                                    <p class="loginDescriptionText" translate>
                                                        DATA THAT WE GET FROM YOUR LOGIN
                                                    </p>
                                                    <p class="loginDescriptionText">
                                                        <span translate> we will read and save nothing more than: </span> </p>
                                                        <ul class="list-unstyled loginDescriptionText">
                                                    <li translate>
                                                        your first name
                                                    </li>
                                                    <li translate>
                                                        your last name
                                                    </li>
                                                    <li translate>
                                                        your email adress
                                                    </li>
                                                    <li translate>
                                                        your public profile picture
                                                    </li>
                                                    <li translate>the region you come from (for language and timezone information)
                                                    </li>

                                                </ul>

                                                    <a href="https://www.dropbox.com/s/f5f6h86n4u6yw6i/policy_en.pdf?dl=0" class="loginDescriptionText">Privacy Policy</a>
                                                </div>

                                                <div class="panel-body profile-inner-grey-box">

                                                <div class="col-lg-12" style="padding-top: 30px">
                                                    <p class="profileBoxTitle" translate>We will add more login options in the future thank you for your understanding!</p>

                                                </div>
                                                    </div>


                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12" style="padding-left: 0px; padding-right: 0px">

                                <div class="panel-body profile-top-black-box" style="min-height: 10px">
                                    <!-- COLOR PLACEHOLDER -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body" style="min-height: 30px; background-color: #989898;">
                    <!-- COLOR PLACEHOLDER -->
                </div>
            </div>

        </div>
    </div>

</div>


