<div style="padding-top: 60px" ng-controller="logoutController">
    <!--
    <p class="lead">Processing...please wait</p>
    <img src="http://www.travislayne.com/images/loading.gif" class="icon" />
    -->
</div>

