<div ng-intro-options="IntroOptions" ng-intro-method="CallMe"
     ng-intro-oncomplete="CompletedEvent" ng-intro-onexit="ExitEvent"
     ng-intro-onchange="ChangeEvent" ng-intro-onbeforechange="BeforeChangeEvent"
     ng-intro-autostart="giveIntroduction">

    <script id="template/alert/alert.html" type="text/ng-template">
        <div class='alert' style="background-color:#276874 !important; color:white !important"
             ng-class='type && "alert-" + type'>
            <button ng-show='closeable' type='button' class='close' ng-click='close()'>x</button>
            <div ng-transclude></div>
        </div>
    </script>
    <div class="hn-fluid-container" style="background-color: white;">


        <div id="page-wrapper_top">
            <div class="row">
                <div class="col-lg-12" style="min-height: 30px">

                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    </div>

    <div class="hn-fluid-container" style="">

        <div id="page-wrapper_profile_heading_title">
            <div class="row">
                <div class="col-lg-12">
                    <h1 id="step1" class="headline1 fix-section-header"  translate>Hey, {{ firstName }}!</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    </div>
    <div class="hn-fluid-container" style="background-color: white">


        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="hn-fluid-container">

                <div class="row">

                    <div style="min-height: 30px">

                        <!-- placeholder for the color -->
                    </div>

                    <div class="col-lg-12">
                        <div class="panel panel-default removePanelBorder">

 <p class="billi-headline"translate>profile</p>

                            <div class="col-lg-12 profile-top-black-box"
                                 style="padding-left: 0px ;padding-right: 0px; margin-top: 40px">
                                <alert ng-repeat="alert in alerts" type="{{ alert.type }}"
                                       close="closeAlert($index)">{{ alert.msg }}</alert>


                                <div class="col-lg-3"
                                     style="padding-left: 0px;padding-right: 0px; padding-top: 0px;">


                                    <div class="profile-inner-grey-box">
                                        <div class=" profile-inner-grey-box">
                                            <!--<img src="static/profile_pictures/{{userobject.userdetails.profile_picture}}"
                                                 class="img-responsive thumbmail" alt="upload your profile picture by clicking edit profile" style="width:100%; height: 230px;"> -->

                                            <div style="position: relative; left: 0; top: 0;" id="step3">
                                                <img src="static/profile_pictures/{{ profilePicture }}"
                                                     class="img-responsive thumbmail"
                                                     alt="upload your profile picture by clicking edit profile"
                                                     style="width:100%; height: 230px;"
                                                     style="position: relative; top: 0; left: 0;"/>
                                                <a href="javascript:void(0)"><img
                                                        src="/static/icons/edit_profile_icon.png"
                                                        class="img-responsive pull-right"
                                                        ng-click="editProfilePicture();"
                                                        style="padding-left: 8px!important;   width: 35px;   height: 35px; position: absolute; top: 5px; left: 200px;"/></a>

                                                <div ng-show="editingProfilePicture">
                                                    <span class="btn btn-default btn-file"><span class="fileinput-new"
                                                                                                 translate>Change your profile image</span><span
                                                            class="fileinput-exists" translate> here</span><input
                                                            type="file" ng-file-select="onFileSelect($files)"></span>


                                                    <!-- <a class="btn btn-default fileinput-exists" ng-show="{{showCancelButton}}" href="#" ng-click="upload.abort()" data-dismiss="fileinput">Cancel Upload</a> -->
                                                </div>
                                            </div>


                                            <!-- <img src="static/profile_pictures/{{userobject.userdetails.profile_picture}}"
                                                  class="img-responsive thumbmail" alt="upload your profile picture by clicking edit profile" style="width:100%; height: 230px;">
                                         -->
                                        </div>

                                    </div>
                                </div>


                                <div class="col-lg-9"
                                     style="padding-left: 0px;padding-right: 0px; padding-top: 15px;">

                                    <div class="col-lg-12">
                                        <div class="panel-body profile-inner-grey-box" style="min-height: 215px"
                                             id="step2">
                                            <p class="profileBoxTitle" translate>About Me
                                                <a href="javascript:void(0)"> <img
                                                        src="/static/icons/edit_profile_icon.png"
                                                        class="img-responsive pull-right" ng-click="editAboutMeText();"
                                                        style="padding-left: 8px!important;   width: 35px;   height: 35px;"
                                                        ng-click=""></a></p>


                                            <p class="profileDescriptionText"
                                               ng-show="!editingAboutMeText">{{ aboutMeText }}</p>

                                            <div ng-show="editingAboutMeText">
                                                <form class="form-horizontal">
                                                    <fieldset>
                                                        <!-- Textarea -->
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <textarea
                                                                        placeholder="{{ 'tell the world something about you...' | translate }}"
                                                                        class="form-control" id="user-text-area"
                                                                        name="user-text-area" ng-model="aboutMeText"
                                                                        style="height: 150px"></textarea>
                                                            </div>
                                                        </div>

                                                    </fieldset>
                                                    <button class="btn btn-save-profile-changes"
                                                            ng-click="saveAboutMeSection();" translate>save changes
                                                    </button>
                                                </form>

                                            </div>

                                        </div>
                                    </div>


                                </div>


                                <div class="col-lg-12" style="padding-top: 10px; padding-bottom: 10px;">

                                    <div class="col-lg-4"
                                         style="padding-left: 0px;padding-right: 0px; padding-top: 0px;">
                                        <div class="profile-inner-grey-box" id="step4">
                                            <div class=" profile-inner-grey-box">
                                                <div class="panel-body profile-inner-grey-box"
                                                     style="min-height: 182px">
                                                    <p class="profileBoxTitle" translate>My Skills</p>
                                                    <img src="/static/icons/edit_profile_icon.png"
                                                         class="img-responsive pull-right"
                                                         style="padding-left: 8px!important;   width: 35px;   height: 35px;"
                                                         ng-click="editHelpTags();"></p>


                                                    <!-- this section gets loaded if the user has no help tags defined yet -->
                                                    <ul class="" style="padding-left: 15px">
                                                        <li
                                                                class="profiledescriptiontext"
                                                                ng-repeat="u in helpTags.help_tags"
                                                                ng-show="!editingHelpTags">
                                                            {{ u.text }}
                                                        </li>
                                                    </ul>


                                                    <tags-input ng-model="helpTags.help_tags" ng-show="editingHelpTags"
                                                                class="helpRequestInput" style="color: #000000">
                                                    </tags-input>
                                                    <button class="btn btn-save-profile-changes"
                                                            ng-show="editingHelpTags" ng-click="saveNewHelpTags();"
                                                            translate>save changes
                                                    </button>


                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4"
                                         style="padding-left: 10px ;padding-right: 0px; padding-top: 0px;">

                                        <div class="col-lg-12">
                                            <div class="profile-inner-grey-box">
                                                <div class=" profile-inner-grey-box"
                                                     style="min-height: 70px; padding-top: 10px" id="step7">
                                                    <div><p class="profile-middle-box-heading" translate>Karma Points
                                                        <span style="color:#276874; padding-left: 5px">{{ karmaPoints }}</span>
                                                    </p></div>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-lg-12">
                                            <div class="profile-top-black-box" style="min-height: 10px">
                                                <!-- COLOR PLACEHOLDER -->
                                            </div>

                                        </div>

                                        <div class="col-lg-12">
                                            <div class="profile-inner-grey-box">
                                                <div class=" profile-inner-grey-box"
                                                     style="min-height: 70px; padding-top: 10px" id="step6">
                                                    <div><p class="profile-middle-box-heading" translate>Your Rating</p>
                                                    </div>
                                                    <ul class="list-inline ratings text-center" title="Ratings">

                                                        <li ng-repeat="i in getNumber(rating +1) track by $index">
                                                            <img src="/static/icons/Stern%20(1).png"
                                                                 class="img-responsive"
                                                                 style="padding-left: 8px!important;   width: 25px;   height: 25px;"
                                                                 ng-click=""></p></li>

                                                        <li ng-repeat="i in getNumber(6-(rating)) track by $index">
                                                            <img src="/static/icons/Stern%20(2).png"
                                                                 class="img-responsive"
                                                                 style="padding-left: 8px!important;   width: 25px;   height: 25px;"
                                                                 ng-click=""></p></li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-lg-4"
                                         style="padding-left: 0px;padding-right: 0px; padding-top: 0px;">
                                        <div class="profile-inner-grey-box">
                                            <div class=" profile-inner-grey-box" id="step5">
                                                <div class="panel-body profile-inner-grey-box">

                                                    <ul class="list-unstyled">
                                                        <li>
                                                            <a href="javascript:void(0)"
                                                               ng-click="activateNotificationLink();"
                                                               class="openMenuLink"><span
                                                                    class="glyphicon glyphicon-bell {{ notificationActive }}"
                                                                    style="color: white"></span><span
                                                                    class="profileMenuEntry {{ notificationActive }}"
                                                                    style="padding-left: 20px"
                                                                    translate>notifications</span></a>
                                                        </li>

                                                        <li>
                                                            <a href="javascript:void(0)"
                                                               ng-click="activateConversationLink();"
                                                               class="openMenuLink"><span
                                                                    class="glyphicon glyphicon-comment {{ conversationActive }}"
                                                                    style="color: white"></span><span
                                                                    class="profileMenuEntry {{ conversationActive }}"
                                                                    style="padding-left: 20px"
                                                                    translate>conversations</span></a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)"
                                                               ng-click="activateOpenRequestsLink();"
                                                               class="openMenuLink"><span
                                                                    class="glyphicon glyphicon-question-sign {{ openRequestsActive }}"
                                                                    style="color: white"></span><span
                                                                    class="profileMenuEntry {{ openRequestsActive }}"
                                                                    style="padding-left: 20px"
                                                                    translate>open requests</span></a>
                                                        </li>

                                                        <li>
                                                            <a href="javascript:void(0)"
                                                               ng-click="activateOffersLink();"
                                                               class="openMenuLink"><span
                                                                    class="glyphicon glyphicon-ok-sign {{ openOffersActive }}"
                                                                    style="color: white"></span><span
                                                                    class="profileMenuEntry {{ openOffersActive }}"
                                                                    style="padding-left: 20px"
                                                                    translate>open offers</span></a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)"
                                                               ng-click="activatehelpHistoryLink();"
                                                               class="openMenuLink"><span
                                                                    class="glyphicon glyphicon-folder-open {{ helpHistoryActive }}"
                                                                    style="color: white"></span><span
                                                                    class="profileMenuEntry {{ helpHistoryActive }}"
                                                                    style="padding-left: 20px"
                                                                    translate>help history</span></a>
                                                        </li>

                                                        <li>
                                                            <a href="javascript:void(0)"
                                                               ng-click="activateReferencesLink();"
                                                               class="openMenuLink"><span
                                                                    class="glyphicon glyphicon-star {{ referencesActive }}"
                                                                    style="color: white"></span><span
                                                                    class="profileMenuEntry {{ referencesActive }}"
                                                                    style="padding-left: 20px"
                                                                    translate>references</span></a>
                                                        </li>

                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <!-- THIS SECTION DEFINES THE BOXES THAT SHOW UP IF NO INFORMATION IS AVAILABLE IN THE PROFILEDATA TO DISPLAY -->
                        <div ng-if="peopleOfferingHelp.length == 0 && notificationSectionActive">
                            <div class="col-lg-12 profile-top-black-box" style="padding-left: 0px; padding-right: 0px">

                                <div class="col-lg-12">

                                    <div class="panel-body-profile-references-box"
                                         style="min-height: 215px; padding-left: 15px !important; padding-right: 15px !important;">
                                        <p class="profileBoxTitle" style="padding-top: 15px;" translate>
                                            Notifications</p>


                                        <div class="col-lg-12"
                                             style="padding-left: 0px;padding-right: 0px; padding-top: 15px;">
                                            <div class="profile-inner-grey-box">
                                                <div class=" profile-inner-grey-box">
                                                    <div class="panel-body profile-inner-grey-box">

                                                        <p translate>No Notifications available</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <p style="color:#989898">write this</p>
                                    </div>
                                </div>
                                <div class="col-lg-12" style="padding-left: 0px; padding-right: 0px">
                                    <div class="panel-body profile-top-black-box" style="min-height: 30px">
                                        <!-- COLOR PLACEHOLDER -->
                                    </div>

                                </div>

                            </div>
                        </div>


                        <!-- /THIS SECTION DEFINES THE BOXES THAT SHOW UP IF NO INFORMATION IS AVAILABLE IN THE PROFILEDATA TO DISPLAY -->


                        <div class="col-lg-12 profile-top-black-box" style="padding-left: 0px; padding-right: 0px"
                             ng-show="notificationSectionActive">
                            <div class="col-lg-12" ng-show="notificationSectionActive"
                                 ng-repeat="u in peopleOfferingHelp track by $index">

                                <div class="panel-body-profile-references-box"
                                     style="min-height: 215px; padding-left: 15px !important; padding-right: 15px !important;">
                                    <p class="profileBoxTitle" style="padding-top: 15px;" translate>Notifications</p>


                                    <div class="col-lg-12"
                                         style="padding-left: 0px;padding-right: 0px; padding-top: 15px;">
                                        <div class="profile-inner-grey-box">
                                            <div class=" profile-inner-grey-box">
                                                <div class="panel-body profile-inner-grey-box">

                                                    <div class="col-lg-1">

                                                        <a class="" href="#/user/{{ u.assigned_user_user_id }}">
                                                            <img class="media-object img-circle"
                                                                 style="max-height:40px;"
                                                                 ng-src="{{ foreignImageSource(u.assigned_user_user_id) }}"/>
                                                        </a>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <p class="profileReviewHeading" translate>you selected {{ u.assigned_user_first_name }} {{ u.assigned_user_last_name }} to help you with {{ u.help_request_title }}</p>
                                                    </div>


                                                    <br>
                                                    <br>

                                                    <div class="col-lg-10">

                                                        <br>

                                                        <div class="col-lg-4"
                                                             style="padding-left: 0px; padding-right: 0px">
                                                            <button class="btn btn-save-profile-changes"
                                                                    ng-click="open(u.assigned_user_mail, u.related_help_request_id);"
                                                                     style="min-width: 100px;" translate> make karma transfer                                    </button>
                                                        </div>
                                                        <div class="col-lg-1">

                                                        </div>
                                                        <div class="col-lg-4"
                                                             style="padding-left: 0px; padding-right: 0px">
                                                            <a href="/#/chat/{{ u.related_help_request_id }}">
                                                                <button class="btn btn-save-profile-changes" translate>
                                                                    view request chat
                                                                </button>
                                                            </a>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <p style="color:#989898">write this</p>
                                </div>
                            </div>

                        </div>


                        <div class="col-lg-12 profile-top-black-box" style="padding-left: 0px; padding-right: 0px"
                             ng-show="conversationSectionActive">
                            <div class="col-lg-12" ng-show="conversationSectionActive">
                                <div class="panel-body-profile-references-box"
                                     style="min-height: 215px; padding-left: 15px !important; padding-right: 15px !important;">
                                    <p class="profileBoxTitle" style="padding-top: 15px;" translate> Saved Conversations</p>

                                    <div class="user-menu-content">
                                        <div class="row">
                                            <div ng-repeat="conversation in savedConversations track by $index"
                                                 class="col-md-3" ng-show="conversationSectionActive">

                                                <div class="info openMenuLink">
                                                    <p class="small"
                                                       style="text-overflow: ellipsis; text-align: left !important;"><a
                                                            href="/#/chat/{{ conversation.related_help_request }}"
                                                            style="color:white !important; padding-bottom: 15px; line-height: 2 !important;"><span
                                                            class="glyphicon glyphicon-comment"
                                                            style="color: white"></span> {{ conversation.title }}</a>
                                                    </p>
                                                </div>

                                                <div class="stats turqbg">
                                                    <span class="fa fa-comments-o"> <strong>{{ (conversation.number_of_messages) }}</strong></span>
                                                    <span class="fa fa-eye pull-right"> <strong>{{ conversation.views }}</strong></span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <p style="color:#989898">write this</p>
                                </div>
                            </div>

                            <div class="col-lg-12" style="padding-left: 0px; padding-right: 0px">
                                <div class="panel-body profile-top-black-box" style="min-height: 30px">
                                    <!-- COLOR PLACEHOLDER -->
                                </div>

                            </div>

                        </div>


                        <div class="col-lg-12 profile-top-black-box" style="padding-left: 0px; padding-right: 0px"
                             ng-show="openRequestsSectionActive">
                            <div class="col-lg-12" ng-show="openRequestsSectionActive">
                                <div class="panel-body-profile-references-box"
                                     style="min-height: 215px; padding-left: 15px !important; padding-right: 15px !important;">
                                    <p class="profileBoxTitle" style="padding-top: 15px;" translate>Open Requests</p>
                                    <div class="user-menu-content">
                                        <div class="row">
                                            <div ng-repeat="help_request in openRequests track by $index"
                                                 class="col-md-3" ng-if="help_request.is_solved===false"
                                                 ng-show="openRequestsSectionActive">

                                                <div class="info openMenuLink" ng-if="help_request.is_solved===false">
                                                    <p class="small"
                                                       style="text-overflow: ellipsis; text-align: left !important;"><a
                                                            href="/#/chat/{{ help_request.help_request_id }}"
                                                            style="color:white !important; padding-bottom: 15px; line-height: 2 !important;"><span
                                                            class="glyphicon glyphicon-question-sign"
                                                            style="color: white"></span> {{ help_request.title }}</a>
                                                    </p>
                                                </div>

                                                <div class="stats turqbg" ng-if="help_request.is_solved===false">
                                                    <span class="fa fa-comments-o"> <strong>{{ (help_request.number_of_messages) }}</strong></span>
                                                    <span class="fa fa-eye pull-right"> <strong>{{ help_request.views }}</strong></span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <p style="color:#989898">write this</p>
                                </div>
                            </div>

                            <div class="col-lg-12" style="padding-left: 0px; padding-right: 0px">
                                <div class="panel-body profile-top-black-box" style="min-height: 30px">
                                    <!-- COLOR PLACEHOLDER -->
                                </div>

                            </div>

                        </div>


                        <div class="col-lg-12 profile-top-black-box" style="padding-left: 0px; padding-right: 0px"
                             ng-show="openOffersSectionActive">
                            <div class="col-lg-12" ng-show="openOffersSectionActive">
                                <div class="panel-body-profile-references-box"
                                     style="min-height: 215px; padding-left: 15px !important; padding-right: 15px !important;">
                                    <p class="profileBoxTitle" style="padding-top: 15px;" translate>Open Offers</p>

                                    <div class="user-menu-content">
                                        <div class="row">
                                            <div ng-repeat="help_offer in openOffers track by $index" class="col-md-3"
                                                 ng-if="help_offer.status =='in process'"
                                                 ng-show="openOffersSectionActive">

                                                <div class="info openMenuLink "
                                                     ng-if="help_offer.status == 'in process'">
                                                    <p class="small pull left"
                                                       style="text-overflow: ellipsis; text-align: left !important;"><a
                                                            href="/#/chat/{{ help_offer.related_help_request }}"
                                                            style="color:white !important; padding-bottom: 15px; line-height: 2 !important;"><span
                                                            class="glyphicon glyphicon-ok-sign"
                                                            style="color: white"></span> {{ help_offer.related_help_request_name }}
                                                    </a></p>
                                                </div>

                                                <div class="stats turqbg " ng-if="help_offer.status == 'in process'">
                                                    <span class="fa fa-comments-o"> <strong>{{ (help_offer.number_of_messages) }}</strong></span>
                                                    <span class="fa fa-eye pull-right"> <strong>{{ help_offer.views }}</strong></span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <p style="color:#989898">write this</p>
                                </div>
                            </div>

                            <div class="col-lg-12" style="padding-left: 0px; padding-right: 0px">
                                <div class="panel-body profile-top-black-box" style="min-height: 30px">
                                    <!-- COLOR PLACEHOLDER -->
                                </div>

                            </div>

                        </div>


                        <div class="col-lg-12 profile-top-black-box" style="padding-left: 0px; padding-right: 0px"
                             ng-show="helpHistorySectionActive">
                            <div class="col-lg-12" ng-show="helpHistorySectionActive">
                                <div class="panel-body-profile-references-box"
                                     style="min-height: 215px; padding-left: 15px !important; padding-right: 15px !important;">
                                    <p class="profileBoxTitle" style="padding-top: 15px;" translate>Help History</p>

                                    <div class="user-menu-content">
                                        <div class="row">
                                            <div ng-repeat="help_offer in openOffers track by $index" class="col-md-3"
                                                 ng-if="help_offer.status =='finished'"
                                                 ng-show="helpHistorySectionActive">

                                                <div class="info openMenuLink " ng-if="help_offer.status == 'finished'">
                                                    <p class="small pull left"
                                                       style="text-overflow: ellipsis; text-align: left !important;">
                                                        <a href="/#/chat/{{ help_offer.related_help_request }}"
                                                           style="color:white !important; padding-bottom: 15px;
                                                           line-height: 2 !important;">
                                                            <span class="glyphicon glyphicon-folder-open"
                                                                  style="color: white"></span>    <span
                                                                class="glyphicon glyphicon-ok-sign"
                                                                style="color: white; padding-left: 5px"></span>
                                                            {{ help_offer.related_help_request_name }}</a></p>
                                                </div>

                                                <div class="stats turqbg " ng-if="help_offer.status == 'finished'">
                                                    <span class="fa fa-comments-o"> <strong>{{ (help_offer.number_of_messages) }}</strong></span>
                                                    <span class="fa fa-eye pull-right"> <strong>{{ help_offer.views }}</strong></span>
                                                </div>
                                            </div>


                                            <div ng-repeat="help_request in openRequests track by $index"
                                                 class="col-md-3" ng-if="help_request.is_solved===true"
                                                 ng-show="helpHistorySectionActive">

                                                <div class="info openMenuLink" ng-if="help_request.is_solved===true">
                                                    <p class="small"
                                                       style="text-overflow: ellipsis; text-align: left !important;"><a
                                                            href="/#/chat/{{ help_request.help_request_id }}"
                                                            style="color:white !important; padding-bottom: 15px; line-height: 2 !important;"><span
                                                            class="glyphicon glyphicon-folder-open"
                                                            style="color: white"></span>
                                                        <span class="glyphicon glyphicon-question-sign"
                                                              style="color: white; padding-left: 5px"></span> {{ help_request.title }}
                                                    </a></p>
                                                </div>

                                                <div class="stats turqbg" ng-if="help_request.is_solved===true">
                                                    <span class="fa fa-comments-o"> <strong>{{ (help_request.number_of_messages) }}</strong></span>
                                                    <span class="fa fa-eye pull-right"> <strong>{{ help_request.views }}</strong></span>
                                                </div>
                                            </div>

                                            <div ng-repeat="cancelledRequest in cancelledRequests track by $index"
                                                 class="col-md-3" ng-show="helpHistorySectionActive">

                                                <div class="info openMenuLink">
                                                    <p class="small"
                                                       style="text-overflow: ellipsis; text-align: left !important;"><a
                                                            href="/#/chat/{{ cancelledRequest.help_request_id }}"
                                                            style="color:white !important; padding-bottom: 15px; line-height: 2 !important;"><span
                                                            class="fa fa-bolt" style="color: white"></span>
                                                        {{ cancelledRequest.title }}</a></p>
                                                </div>

                                                <div class="stats turqbg">
                                                    <span class="fa fa-comments-o"> <strong>{{ (cancelledRequest.number_of_messages) }}</strong></span>
                                                    <span class="fa fa-eye pull-right"> <strong>{{ cancelledRequest.views }}</strong></span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <p style="color:#989898">write this</p>
                                </div>
                            </div>

                            <div class="col-lg-12" style="padding-left: 0px; padding-right: 0px">
                                <div class="panel-body profile-top-black-box" style="min-height: 30px">
                                    <!-- COLOR PLACEHOLDER -->
                                </div>

                            </div>

                        </div>


                         <div class="col-lg-12 profile-top-black-box" style="padding-left: 0px; padding-right: 0px"
                             ng-show="referencesSectionActive">

                            <div class="col-lg-12" ng-show="true">

                                <div class="panel-body-profile-references-box"
                                     style="min-height: 215px; padding-left: 15px !important; padding-right: 15px !important;">
                                    <p class="profileBoxTitle" style="padding-top: 15px;">
                                        <span translate>References</span></p>


                                    <div class="col-lg-12"
                                         style="padding-left: 0px;padding-right: 0px; padding-top: 15px;"
                                         ng-repeat="review in reviews track by $index">
                                        <div class="profile-inner-grey-box">
                                            <div class=" profile-inner-grey-box">
                                                <div class="panel-body profile-inner-grey-box">

                                                    <div class="col-lg-1">

                                                        <a class="" href="#/user/{{ review.reviewer_id.$oid}}">
                                                            <img class="media-object img-circle"
                                                                 style="max-height:40px;"
                                                                 ng-src="/public_picture/{{ review.reviewer_id.$oid}}"/>
                                                        </a>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <p class="profileReviewHeading"> {{ review.reviewer }}</p>
                                                    </div>


                                                    <br>

                                                    <div class="col-lg-12">
                                                        <p>{{ review.review_text }}</p>
                                                        <ul class="list-inline ratings text-center pull-left"
                                                            title="Ratings">

                                                            <li ng-repeat="i in getNumber(review.rated_stars +1) track by $index">
                                                                <img src="/static/icons/Stern%20(1).png"
                                                                     class="img-responsive"
                                                                     style="padding-left: 8px!important;   width: 25px;   height: 25px;"
                                                                     ng-click=""></p></li>

                                                            <li ng-repeat="i in getNumber(6-(review.rated_stars)) track by $index">
                                                                <img src="/static/icons/Stern%20(2).png"
                                                                     class="img-responsive"
                                                                     style="padding-left: 8px!important;   width: 25px;   height: 25px;"
                                                                     ng-click=""></p></li>
                                                        </ul>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <p style="color:#989898">write this</p>
                                </div>
                            </div>

                            <div class="col-lg-12" style="padding-left: 0px; padding-right: 0px">
                                <div class="panel-body profile-top-black-box" style="min-height: 30px">
                                    <!-- COLOR PLACEHOLDER -->
                                </div>

                            </div>

                        </div>



                        <!-- INVITATION BOX -->
                        <div class="col-lg-12 profile-top-black-box" style="padding-left: 0px; padding-right: 0px" ng-show="notificationSectionActive">

                            <div class="col-lg-12"
                                             style="padding-left: 15px;padding-right: 15px; padding-top: 15px;" ng-show="invitationWasSent == true">
                                            <div class="profile-inner-grey-box">
                                                <div class=" profile-inner-grey-box">
                                                    <div class="panel-body profile-inner-grey-box">

                                                        <p translate>Thank you for inviting a friend. Once the person you invited signs up to helping network you will receive 2 krama points.</p>

                                                    </div>
                                                </div>
                                            </div>
                            </div>
                            <div class="col-lg-12" ng-show="invitationWasSent == false">

                                <div class="panel-body-profile-references-box"
                                     style="min-height: 215px; padding-left: 15px !important; padding-right: 15px !important;">
                                    <p class="profileBoxTitle" style="padding-top: 15px;">
                                        <span  translate>Invite Users and gain karma:</span></p>

                                    <div class="col-lg-12"
                                         style="padding-left: 0px;padding-right: 0px; padding-top: 15px;">
                                        <div class="profile-inner-grey-box">
                                            <div class=" profile-inner-grey-box">
                                                <div class="panel-body profile-inner-grey-box">

                                                    <form angular-validator-submit="submitEmailInvitation()" id="invite-email-form"
                                                              name="invite-email-form" novalidate angular-validator>
                                                    <div class="form-group" style="text-align: left !important;">


                                                                    <p for="InviteEmail" class="profileBoxTitle"
                                                                           style="padding-top: 10px; margin: 0px 0px 0px !important;" translate>Email</p>
                                                                            <input  id="InviteEmail"
                                                                                    type = "email"
                                                                                    name = "InviteEmail"
                                                                                    class = "form-control"
                                                                                    ng-model = "invitationEmail"
                                                                                    required-message ="'Required'"
                                                                                    invalidMessage= "'Please enter a valid email adress'"
                                                                                    validate-on="dirty"
                                                                                    placeholder="{{'email of the person who you want to invite' | translate}}"
                                                                                    required>
                                                                    </div>
                                                        <button type="submit" class="btn btn-save-profile-changes pull-left" id="btnSaveEmailInvite"
                                                                translate>Send Invitation</button>
                                                    </form>


                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <p style="color:#989898">write this</p>
                                </div>
                            </div>

                            <div class="col-lg-12" style="padding-left: 0px; padding-right: 0px">
                                <div class="panel-body profile-top-black-box" style="min-height: 30px">
                                    <!-- COLOR PLACEHOLDER -->
                                </div>

                            </div>

                        </div>
                       <!-- /INVITATION BOX -->



                        <div class="col-lg-12" style="padding-left: 0px; padding-right: 0px">
                            <div class="panel-body-profile-references-box" style="min-height: 30px">
                                <!-- COLOR PLACEHOLDER -->
                            </div>

                        </div>

                    </div>


                </div>


            </div>

            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /.hn-fluid-container -->

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" translate>Press Ok to finish the credit transfer!</h3>

        </div>
        <div class="modal-body">
            <p class="lead" translate> Please take one moment to rate the user who helped you. Give him a rating with
                the rating
                stars below, and write a short (or long) review for him. Thank you!
            </p>

            <!--<div ng-init="rating = star.rating + 1"></div>
            <div class="star-rating" star-rating rating-value="rating"
                 data-max="5" on-rating-selected=""></div> -->

            <span class="rating">
        <input type="radio" class="rating-input"
               id="rating-input-1-5" name="rating-input-1">
        <label for="rating-input-1-5" class="rating-star" ng-click="ratingStarValue = 5"></label>
        <input type="radio" class="rating-input"
               id="rating-input-1-4" name="rating-input-1">
        <label for="rating-input-1-4" class="rating-star" ng-click="ratingStarValue = 4"></label>
        <input type="radio" class="rating-input"
               id="rating-input-1-3" name="rating-input-1">
        <label for="rating-input-1-3" class="rating-star" ng-click="ratingStarValue = 3"></label>
        <input type="radio" class="rating-input"
               id="rating-input-1-2" name="rating-input-1">
        <label for="rating-input-1-2" class="rating-star" ng-click="ratingStarValue = 2"></label>
        <input type="radio" class="rating-input"
               id="rating-input-1-1" name="rating-input-1">
        <label for="rating-input-1-1" class="rating-star" ng-click="ratingStarValue = 1"></label>
    </span>
            <br>

            <p><strong translate>How Was Your Experience? </strong></p>
            <textarea class="form-control" id="textarea" name="textarea" ng-model="reviewText"></textarea>

        </div>
        <div class="modal-footer">
            <button class="btn btn-save-profile-changes"
                    ng-click="ok(ratingStarValue, reviewText, transactionInformation.userBeingHelped, transactionInformation.userHelping, transactionInformation.relatedHelpRequestId)"
                    translate>OK
            </button>
            <button class="btn btn-save-profile-changes" ng-click="cancel()" translate>Cancel</button>
        </div>
    </script>
</div>

<!-- /#page-wrapper -->




