<div ng-controller="SaveNewRequestController as wizard">
    <script id="template/alert/alert.html" type="text/ng-template">
        <div class='alert' style="background-color:#79ca34 !important; color:white !important"
             ng-class='type && "alert-" + type'>
            <button ng-show='closeable' type='button' class='close' ng-click='close()'>x</button>
            <div ng-transclude></div>
        </div>
    </script>


    <div class="hn-fluid-container" style="background-color: white;">


        <div id="page-wrapper_top">
            <div class="row">
                <div class="col-lg-12" style="min-height: 30px">

                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    </div>

    <div class="hn-fluid-container" style="">

        <div id="page-wrapper_receive_help_heading_title">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="headline1 fix-section-header" translate>Ask for help...</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    </div>
    <div class="hn-fluid-container" style="background-color: white">


        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="hn-fluid-container">

                <div class="row">

                    <div style="min-height: 30px">


                        <!-- placeholder for the color -->
                    </div>


                    <div class="col-lg-12">
                        <div class="panel panel-default removePanelBorder">
                            <p class="billi-headline" translate>and get it</p>

                            <div style="min-height: 50px">

                                <!-- placeholder for the color -->
                            </div>


                            <div class="panel-body help-others-map-bg" style="min-height: 10px">
                                <!-- placeholder for the color -->
                            </div>
                            <div class="panel-body help-others-map-bg">


                                <div class="col-lg-12 receive-help-inner-grey-box"
                                     style="padding-left: 0px !important;padding-right: 0px !important;">

                                    <div class="col-lg-7"
                                         style="padding-left: 10px !important;padding-right: 10px !important;">


                                        <form angular-validator-submit="submitMyForm()" id="new-requ-form"
                                              name="new_request_form" novalidate angular-validator>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <alert ng-repeat="alert in alerts" type="{{ alert.type }}"
                                                           close="closeAlert($index)">{{ alert.msg }}</alert>

                                                    <div class="form-group" ng-show="showTitleAndDescription">
                                                        <p for="itchNameId" class="receive-help-input-heading"
                                                           style="padding-top: 10px; margin: 0px 0px 0px !important;"
                                                           translate>
                                                            Title</p>
                                                        <input type="text"
                                                               class="form-control"
                                                               id="itchNameId"
                                                               name="helpRequestName"
                                                               validate-on="dirty"
                                                               ng-model="helpRequestName"
                                                               ng-minlength=5 ng-maxlength="50"
                                                               validator="reqestNameValidator(helpRequestName) === true"
                                                               invalid-message={{ titleError }}
                                                                       required-message={{ requiredMessage }}
                                                               placeholder="{{ 'Enter name' |translate }}" required/>
                                                    </div>

                                                    <div class="form-group" ng-show="showLocationSelection">
                                                        <p for="google_places_ac" class="receive-help-input-heading"
                                                           style="margin: 0px 0px 0px !important;" translate>
                                                            Location </p>

                                                        <!--<input type="location"
                                                               class="form-control"
                                                               id="google_places_ac2"
                                                               name="adress"
                                                               ng-model="locationName"
                                                               validator="locationValidator(mapLocation.latitude, mapLocation.longitude) === true"
                                                               invalid-message={{ invalidLocationMessage }}
                                                                       required-message={{ requiredMessage }}
                                                               placeholder="{{ 'Enter location' |translate }}" required
                                                               type="submit"/> -->

                                                        <!--   <input id="google_places_ac2"
                                                                  validator="locationValidator() === true"
                                                                  name="google_places_ac"
                                                                  type="location"
                                                                  class="form-control"
                                                                  invalid-message="'Please select a valid location'"
                                                                  required-message="'Oops...This field is required..'"
                                                                  required
                                                                  placeholder="Enter location"/> -->

                                                    </div>
                                                    <div id="searchBoxDiv" ng-show="showLocationSelection">

                                                    </div>

                                                    <div class="btn-group" data-toggle="buttons">

                                                        <!--
                                                            <label class="btn active btn-default" ng-click="activateSelection('singleDate')">
                                                                <input type="radio" name="response" value="true" active="false" ng-model="dateSelections"/>
                                                                <span translate> Single Date  </span>
                                                            </label>

                                                            <label class="btn active btn-default" ng-click="activateSelection('multipleDates')"  >
                                                                <input type="radio" name="response" value="false" active="false" ng-model="dateSelections"/>
                                                                <span translate>Multiple Dates </span>
                                                            </label>
                                                        -->

                                                        <!--
                                                        <label class="btn active btn-default">
                                                            <input name="cssPre1" id="css1" value="CSS" class="active" data-ng-model="singleDate" type="radio">None
                                                        </label>
                                                        <label class="btn btn-default">
                                                            <input name="cssPre1" id="css2" value="LESS" data-ng-model="multipleDates" type="radio">LESS
                                                        </label>
                                                        -->

                                                    </div>

                                                    <div class="form-group" ng-show="singleDateDesired">
                                                        <p for="selectedDate" class="receive-help-input-heading"
                                                           style="margin: 0px 0px 0px !important;" translate>
                                                            Date</p>

                                                        <div class="input-group">
                                                            <input type="text"
                                                                   id="selectedDate"
                                                                   class="form-control"
                                                                   datepicker-popup="{{ format }}"
                                                                   ng-model="dt"
                                                                   is-open="opened"
                                                                   min-date="minDate"
                                                                   datepicker-options="dateOptions"
                                                                   close-text="Close"
                                                                   name="dateSelector"
                                                                   validator="dateValidator(dt) === true"
                                                                   invalid-message={{ errorMessages.requestDate[currentLanguage].invalidMessage }}
                                                            />
                                                            <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-default"
                                                                            ng-click="open($event)"><i
                                                                            class="glyphicon glyphicon-calendar"></i></button>
                                                                  </span>
                                                        </div>
                                                    </div>


                                                    <div class="col-lg-12"
                                                         style="padding-left: 0px; padding-right: 0px;"
                                                         ng-show="multipleDatesDesired && showDateSelection">
                                                        <div class="col-lg-7" style="padding-left: 0px;">
                                                            <p class="receive-help-input-heading"
                                                               style="margin: 0px 0px 0px !important;" translate>
                                                                Dates</p>
                                                            <datepicker ng-model='activeDate'
                                                                        multi-select='selectedDates' min-date="minDate"
                                                                        style="background-color: #79ca34 !important;"></datepicker>

                                                        </div>
                                                        <div class="col-lg-5" style="padding-right: 0px;">
                                                            <p class="receive-help-input-heading"
                                                               style="margin: 0px 0px 0px !important;" translate>
                                                                Selected Dates:</p>
                                                            <div class='receive-help-input-heading'>
                                                                <div ng-repeat='d in selectedDates'>
                                                                    {{ d | date : 'fullDate'}}
                                                                    <button class='btn btn-xs btn-receive-help'
                                                                            style='margin:5px'
                                                                            ng-click='removeFromSelected(d)'>Remove
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>


                                                    <div class="form-group" ng-show="showTitleAndDescription">
                                                        <p for="description" class="receive-help-input-heading"
                                                           style="margin: 0px 0px 0px !important;" translate>
                                                            Description</p>
                                                        <textarea name="description"
                                                                  id="description"
                                                                  class="form-control"
                                                                  rows="4"
                                                                  cols="25"
                                                                  placeholder="{{ 'What do you need?' | translate }}"
                                                                  ng-model="helpRequestDescription"
                                                                  required></textarea>

                                                    </div>

                                                    <div class="form-group" ng-show="showTitleAndDescription">
                                                        <p for="itchNameId" class="receive-help-input-heading"
                                                           style="padding-top: 10px; margin: 0px 0px 0px !important;"
                                                           translate>
                                                            Tags</p>


                                                            <tags-input ng-model="tagsForHelpRequest"  placeholder="{{ 'tag(s) for help request (e.g carpooling, housekeeping, technical support, ...)' | translate }}" on-tag-added="validateTags($tag)" on-tag-removed="validateTags($tag)">
                                                                <auto-complete source="loadTags($query)"></auto-complete>
                                                            </tags-input>

                                                    </div>

                                                    <wizard name="SaveRequestWizard" on-finish="finishedWizard()">
                                                        <wz-step title="Title and description" canexit="exitValidation">
                                                            <h3 class="receiveHelpDescriptionText" translate>Define a title and a description</h3>
                                                            <p class="receiveHelpDescriptionText" translate>The title will show up on the map that users can see. The description should give a detailed description about what you need.</p>
                                                            <input class="btn btn-receive-help" translate type="submit"
                                                                   wz-next="" value="{{ 'Next' |translate }}"
                                                                   ng-click="saveDescriptionStep()"
                                                                   ng-disabled="inValidHelpRequestName == true || inValidHelpRequestDescription == true || notEnoughKarmaPoints ==true || inValidHelpTags == true"/>
                                                        </wz-step>
                                                        <wz-step title="Location" canenter="enterValidation">
                                                            <h3 class="receiveHelpDescriptionText" translate>Define an address </h3>
                                                            <p class="receiveHelpDescriptionText" translate>Where do you need help? You can define a general adress like a park in your city or your home adress if you need help at home.</p>
                                                            <input type="submit" class="btn btn-receive-help" translate
                                                                   wz-previous value="Previous Step"
                                                                   ng-click="backToDescription()"/>
                                                            <button type="submit" class="btn btn-receive-help"
                                                                    id="btnSaveItch2"
                                                                    ng-show="!notEnoughKarmaPoints && showLocationSelection"
                                                                    translate>
                                                                Save Request
                                                            </button>
                                                            <!-- <input type="submit" class="btn btn-receive-help" translate wz-next value="Next Step" ng-click="saveLocationStep()" ng-disabled="inValidMaplocation == true || notEnoughKarmaPoints ==true"/> -->
                                                        </wz-step>
                                                        <!--  <wz-step title="Date">
                                                            <h3 class="receiveHelpDescriptionText" translate>Define a date </h3>
                                                    <p class="receiveHelpDescriptionText" translate>You can define a single date or a multiple dates. The default setting is a due date one month from now. If you define multiple dates you show the community that you have  multiple certain dates that would work for you.</p>
                                                              <input type="submit" class="btn btn-receive-help" translate wz-previous value="Previous Step" ng-click="backToLocation()"/>
                                                          </wz-step> -->
                                                    </wizard>

                                                    <br>


                                                </div>
                                            </div>
                                        </form>


                                    </div>


                                    <div class="col-lg-5" ng-show="mapShouldBeShown"
                                         style="padding-left: 10px;padding-right: 10px; padding-top: 10px;">

                                        <!--<leaflet center="location" markers="markers" layers="layers" height="400px"
                                                 width="100%"> -->


                                        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true"
                                                            options="options">

                                            <ui-gmap-search-box
                                                    template='searchbox.template'
                                                    events='searchbox.events'
                                                    position="'BOTTOM_LEFT'"
                                                    parentdiv="'searchBoxDiv'"
                                            >
                                            </ui-gmap-search-box>


                  <ui-gmap-window show="map.window.show" coords="map.window.model" isIconVisibleOnClick="false"
                            options="map.window.options" closeClick="map.window.closeClick()" ng-cloak>
                <div>
                    <p><strong>{{ helpRequestName }}</strong>
                        </p>
                    <div ng-controller='InfoController'>
                        {{ helpRequestShortDescription }}
                    </div>
                </div>
            </ui-gmap-window>



                                            <ui-gmap-markers models="map.markers" coords="'self'" options="'options'"
                                                             events="map.markersEvents">

                                        </ui-gmap-markers>
                                        </ui-gmap-google-map>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div ng-controller="regCtrl">
                            <div class="modal fade" id="register" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <!-- <h4>Registration</h4> -->
                                            <br>
                                            <br>
                                        </div>
                                        <wizard on-finish="finishedWizard()">
                                            <wz-step title="General Info">
                                                <!-- <h1>This is the first step</h1> -->
                                                <!-- <p>Here you can use whatever you want. You can use other directives, binding, etc.</p> -->
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <form name="registration">
                                                            <!-- method="POST" onsubmit="" -->
                                                            <!-- class="form-horizontal" role="form" -->
                                                            <br>
                                                            <!-- <ng-form name="generalInfo"> -->
                                                            <div class="form_group">
                                                                <div class="row">
                                                                    <label for="contact-firstName"
                                                                           class="col-lg-2 control-label">First
                                                                        Name:</label>
                                                                    <div class="col-lg-4">
                                                                        <input type="text" name="firstName"
                                                                               class="form-control" id="contact-name"
                                                                               placeholder="Jane/John (required)"
                                                                               ng-model="$parent.firstName" required
                                                                               ng-change="updateGeneralInfo()">
                                                                        <!-- <span ng-show="{{true}}">Username is required.</span> -->
                                                                    </div>
                                                                    <label for="contact-lastName"
                                                                           class="col-lg-2 control-label">Last
                                                                        Name:</label>
                                                                    <div class="col-lg-4">
                                                                        <input type="text" name="lastName"
                                                                               class="form-control" id="contact-name"
                                                                               placeholder="Doe (optional)"
                                                                               ng-model="$parent.lastName"
                                                                               ng-change="updateGeneralInfo()">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form=group">
                                                                <div class="row">
                                                                    <label for="contact-email"
                                                                           class="col-lg-2 control-label">Email:</label>
                                                                    <div class="col-lg-10">
                                                                        <input type="email" name="email"
                                                                               class="form-control" id="contact-email"
                                                                               required
                                                                               placeholder="you@gmail.com (required)"
                                                                               ng-model="$parent.email" ng-minLength=3
                                                                               ng-change="updateGeneralInfo()">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="form=group">
                                                                <div class="row">
                                                                    <label for="contact-age"
                                                                           class="col-lg-2 control-label">Age:</label>
                                                                    <div class="col-lg-4">
                                                                        <!-- Single button -->
                                                                        <input type="number" class="form-control"
                                                                               min="18" max="115" id="contact-age"
                                                                               required placeholder="18 (required)"
                                                                               ng-model="$parent.age"
                                                                               ng-change="updateGeneralInfo()">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="form=group">
                                                                <div class="row">
                                                                    <label for="contact-sex"
                                                                           class="col-lg-2 control-label">Sex:</label>
                                                                    <div class="col-lg-4">
                                                                        <!-- Single button -->
                                                                        <div class="btn-group">
                                                                            <label class="btn btn-info"
                                                                                   ng-change="updateGeneralInfo()"
                                                                                   ng-model="$parent.sex"
                                                                                   btn-radio="'Female'">Female</label>
                                                                            <label class="btn btn-info"
                                                                                   ng-change="updateGeneralInfo()"
                                                                                   ng-model="$parent.sex"
                                                                                   btn-radio="'X'">X</label>
                                                                            <label class="btn btn-info"
                                                                                   ng-change="updateGeneralInfo()"
                                                                                   ng-model="$parent.sex"
                                                                                   btn-radio="'Male'">Male</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                    </div>
                                                    <!-- <div class="btn-group"> -->
                                                    <!-- <div class="modal-footer"> -->
                                                    <ul class="pager">
                                                        <li>
                                                            <large class="error" ng-hide="validStepOne">* Please fill
                                                                out all required info correctly to proceed.
                                                            </large>
                                                            <br>
                                                            <br>
                                                            <!-- <small class="error" ng-show="!validFirstName">Please provide your first name</small> -->

                                                            <small class="error" ng-show="!validEmail">Please enter a
                                                                valid email address
                                                            </small>
                                                            <br>
                                                            <!-- <small class="error" ng-show="!validAge">You must be old enough to vote</small>
                                                        <br> -->
                                                            <!-- <small class="error" ng-show="!validSex">Please select a sex</small>
                                                        <br> -->
                                                            <br>
                                                            <a>
                                                                <input ng-disabled="!validStepOne"
                                                                       class="btn btn-primary navbar-btn" type="submit"
                                                                       id="contactInfo" ng-click="validateContact();"
                                                                       value="next" wz-next></input>
                                                            </a>

                                                        </li>
                                                    </ul>
                                                    <!-- </ng-form> -->
                                                    </form>
                                                    <!-- </div> -->
                                                    <!-- </form> -->
                                                    <!-- </div> -->
                                                    <!-- <div class="modal-footer">
                                                    <a class="btn btn-default" data-dismiss="modal">Close</a>
                                                </div> --></div>
                                            </wz-step>
                                        </wizard>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.hn-fluid-container -->
        </div>
        <!-- /#page-wrapper -->

    </div>
</div>