<div ng-controller="AngularChatController">
    <script id="template/alert/alert.html" type="text/ng-template">
        <div class='alert' style="background-color:#79ca34 !important; color:white !important"
             ng-class='type && "alert-" + type'>
            <button ng-show='closeable' type='button' class='close' ng-click='close()'>x</button>
            <div ng-transclude></div>
        </div>
    </script>
    <div class="hn-fluid-container" style="background-color: white;">


        <div id="page-wrapper_top">
            <div class="row">
                <div class="col-lg-12" style="min-height: 30px">

                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    </div>

    <div class="hn-fluid-container" style="">

        <div id="page-wrapper_receive_help_heading_title">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="headline1 fix-section-header" translate>Chat with people and...</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    </div>
    <div class="hn-fluid-container" style="background-color: white">


        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="hn-fluid-container">

                <div class="row">

                    <div style="min-height: 30px">


                        <!-- placeholder for the color -->
                    </div>

                    <div class="col-lg-12">
                        <div class="panel panel-default removePanelBorder">
                            <br>
                            <p class="billi-headline" translate>get connected</p>


                            <div class="panel-body help-others-map-bg" style="min-height: 10px">
                                <!-- placeholder for the color -->
                            </div>
                            <div class="panel-body help-others-map-bg">


                                <div class="col-lg-12 chat-top-black-box"
                                     style="padding-left: 0px !important;padding-right: 0px !important;">
                                    <alert ng-repeat="alert in alerts" type="{{ alert.type }}"
                                           close="closeAlert($index)">{{ alert.msg }}</alert>


                                    <div class="col-lg-7"
                                         style="padding-top: 10px !important;">
                                        <a href="javascript:void(0)" ng-click="saveConversationToProfile()"
                                           class="btn btn-default receive-help-interaction-button"
                                           ng-show="!requestWasCancelled" translate><span
                                                class="glyphicon glyphicon-pushpin "></span> save conversation to
                                            profile</a>
                                        <a href="javascript:void(0)" ng-click="sendHelpOffer()"
                                           class="btn btn-default receive-help-interaction-button"
                                           ng-show="helpRequestWasCreatedByOtherUser && !requestWasCancelled && !helpRequestisResolved"
                                           translate><span class="glyphicon glyphicon-transfer"></span> Offer Help</a>

                                        <a href="javascript:void(0)" ng-click="markHelpRequestAsInappropriate()"
                                           class="btn btn-default receive-help-interaction-button"
                                           ng-show="helpRequestWasCreatedByOtherUser  && !requestWasCancelled"
                                           translate><span class="glyphicon glyphicon-flag"></span> this is inapropriate</a>

                                        <a href="javascript:void(0)" ng-click="deleteHelpRequest()"
                                           class="btn btn-default receive-help-interaction-button"
                                           ng-show="!helpRequestWasCreatedByOtherUser && deletableRequest"
                                           translate><span class="glyphicon glyphicon-flag"></span> Delete this request</a>

                                        <br/><br/>
                                        <p style="color:white"
                                           ng-show="helpRequestWasCreatedByOtherUser && !requestWasCancelled && helpRequestisResolved"
                                           translate><span class="glyphicon glyphicon-transfer"></span>
                                            Somebody was selected to help already</p>
                                        <p style="color:white"
                                           ng-show="!helpRequestWasCreatedByOtherUser && !requestWasCancelled && helpRequestisResolved"
                                           translate><span class="glyphicon glyphicon-transfer"></span>
                                            You already chose somebody to help you with this request do not forget to
                                            make the karma transfer in the profile section</>

                                        <p style="color:white;"
                                           ng-show="(!helpRequestWasCreatedByOtherUser) && (!helpRequestisResolved) && (helpOfferingUsers.indexOf(user.userId) > -1)">
                                            One or more users offered help for your request. Select the user that should
                                            help you in the active users sections of this page</p>

                                        <div class="panel panel-info chat-inner-grey-box">
                                            <div class="panel-heading chat-inner-grey-box" translate>
                                                RECENT CHAT HISTORY
                                            </div>
                                            <div class="panel-body" style="max-height: 300px; overflow-y:scroll; "
                                                 scroll-glue>
                                                <ul class="media-list">

                                                    <li class="media" ng-repeat="message in messages">
                                                        {{ selectedChannel }}
                                                        <div class="media-body">

                                                            <div class="media">
                                                                <a class="pull-left" href="#/user/{{ message.userId }}">
                                                                    <img class="media-object img-circle"
                                                                         style="max-width:50px;height: auto;"
                                                                         ng-src="{{ imageSource(message.userId) }}"/>
                                                                </a>
                                                                <div class="media-body" id="{{ message._id }}">
                                                                    {{ message.body }}
                                                                    <br/>
                                                                    <small> {{ message.from }}
                                                                        | {{ message.time }}</small>
                                                                    <hr/>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </li>

                                                </ul>
                                            </div>
                                            <div class="panel-footer chat-inner-grey-box"
                                                 ng-show="!requestWasCancelled">
                                                <form ng-submit="processForm()" target="_hidden">
                                                    <div class="input-group">
                                                        <input type="text" name="message" id="input_message"
                                                               ng-model="formData.message" class="form-control"
                                                               placeholder="{{ 'Enter Message' | translate }}"/>
                                                        <span class="input-group-btn">
                                        <button class="btn btn-receive-help" type="submit" translate>SEND</button>
                                    </span>

                                                        <!--    <input name="message" id="input_message" style="width: 500px;border: 1px solid #CCC;padding: 3px;" value="" ng-model="formData.message" placeholder="Enter your message here and press the 'Send' button."/> -->


                                                        <input name="from_user" type="hidden" id="input_from_user"/>

                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <a class="facebook-like-button"
                                           href="https://www.facebook.com/sharer/sharer.php?u=https://www.helping.network/%23/help_request-location/latitude/{{ itchInformation.lat }}/longitude/{{ itchInformation.long }}"
                                           target="_blank"><img src="/static/img/fb-share.png" width="25px"
                                                                height="25px" ng-show="!requestWasCancelled"
                                                                alt="Facebook"/><span ng-show="!requestWasCancelled"
                                                                                      translate> share request on facebook</span></a>
                                    </div>


                                    <div class="col-lg-5"
                                         style="padding-top: 10px;">

                                        <div class="col-lg-12">
                                            <div class="panel-body chat-inner-grey-box">
                                                <p class="receive-help-input-heading" translate>Details</p>

                                                <h5 class="chatDescriptionTitle" translate>creator</h5>
                                                <!--
                                                <a class="pull-left" href="#/user/{{helpRequestInformation.creating_user}}">
                                                    <img class="media-object img-circle" style="max-width:50px;height: auto;" ng-src="{{imageSource(helpRequestInformation.creating_user)}}" />
                                                </a> -->

                                                <div class="media presentationBoxText">
                                                    <a class="pull-left"
                                                       href="#/user/{{ helpRequestInformation.creating_user }}">

                                                        <img class="media-object img-circle"
                                                             style="max-width:50px;height: auto;"
                                                             ng-src="{{ imageSource(helpRequestInformation.creating_user) }}"/>
                                                    </a>
                                                    <div class="media-body">
                                                        <a href="#/user/{{ helpRequestInformation.creating_user }}"
                                                           style="color:white !important;">
                                                            <h5>{{ helpRequestInformation.creating_user_first_name }} {{ helpRequestInformation.creating_user_last_name }}</h5>
                                                        </a>
                                                    </div>
                                                </div>
                                                <br>


                                                <h5 class="chatDescriptionTitle">{{ helpRequestInformation.title }}</h5>
                                                <p class="chatDescriptionDescription">{{ helpRequestInformation.description }} </p>

                                                <!--
                                                <div ng-show="helpRequestInformation.multiple_dates == false">
                                                <h5 class="chatDescriptionTitle">Due Date: {{helpRequestInformation.due_date.slice(0,10)}}</h5>
                                                </div>

                                                <div ng-show="helpRequestInformation.multiple_dates == true">
                                                    <h5 class="chatDescriptionTitle">Defined Dates:</h5>
                                                    <ul class="list-unstyled">
                                                        <li ng-repeat="date in helpRequestInformation.multiple_date_objects">{{date.slice(0,10)}}</li>
                                                    </ul>
                                                </div> -->


                                            </div>
                                        </div>

                                        <div class="col-lg-12" style="padding-top: 20px;">
                                            <div class="panel-body chat-inner-grey-box">
                                                <p class="receive-help-input-heading" translate>Active Users</p>

                                                <div class="media presentationBoxText"
                                                     ng-repeat="user in activeUserList">
                                                    <a class="pull-left" href="#/user/{{ user.userId }}">

                                                        <img class="media-object img-circle"
                                                             style="max-width:50px;height: auto;"
                                                             ng-src="{{ imageSource(user.userId) }}"/>
                                                    </a>
                                                    <div class="media-body">
                                                        <a href="#/user/{{ user.userId }}"
                                                           style="color:white !important;"><h5>{{ user.userName }}</h5>
                                                        </a>
                                                        <button ng-show="(!helpRequestWasCreatedByOtherUser) && (!helpRequestisResolved) && (helpOfferingUsers.indexOf(user.userId) > -1)"
                                                                ng-click="pickUserForHelpRequest(user.userId)"
                                                                class="btn btn-default receive-help-interaction-button">
                                                            Accept Help offer
                                                        </button>
                                                        <p style="color:white"
                                                           ng-show="(helpRequestWasCreatedByOtherUser) && (!helpRequestisResolved) && (helpOfferingUsers.indexOf(user.userId) > -1)"
                                                           translate> offered help </p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                        <div class="col-lg-12" style="padding-top: 20px">

                                            <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true"
                                                                options="options">


                                                <ui-gmap-window show="map.window.show" coords="map.window.model"
                                                                isIconVisibleOnClick="false"
                                                                options="map.window.options"
                                                                closeClick="map.window.closeClick()" ng-cloak>
                                                    <div>

                                                        <div ng-controller='InfoController'>
                                                           {{ helpRequestTitle }}
                                                        </div>
                                                    </div>
                                                </ui-gmap-window>


                                                <ui-gmap-markers models="map.markers" coords="'self'"
                                                                 options="'options'"
                                                                 events="map.markersEvents">


                                            </ui-gmap-google-map>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.hn-fluid-container -->
        </div>
        <!-- /#page-wrapper -->

    </div>
</div>