<!--
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    Something went really wrong :(</h2>
                <div class="error-details">
                    We are working on it and trying to fix it!
                </div>
                <div class="error-actions">
                    <a href="#/welcome" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a><a href="#/contact" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div ng-controller="DataTablesCtrl">
    <script id="template/alert/alert.html" type="text/ng-template">
        <div class='alert' style="background-color:#dc8723 !important; color:white !important" ng-class='type && "alert-" + type'>
            <button ng-show='closeable' type='button' class='close' ng-click='close()'>x</button>
            <div ng-transclude></div>
        </div>
    </script>
    <div class="container-fluid" style="background-color: white;">

        <div id="page-wrapper_top">
            <div class="row">
                <div class="col-lg-12" style="min-height: 30px">

                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    </div>

    <div class="container-fluid" style="">

        <div id="page-wrapper_contact_heading_title">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="headline1">Stats for HELPING.network</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background-color: white">

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">

                <div class="row">

                    <div style="min-height: 30px">
                        <p class="billi-headline">have fun!</p>

                        <!-- placeholder for the color -->
                    </div>

                    <div class="col-lg-12">
                        <div class="panel panel-default removePanelBorder">

                            <div class="col-lg-12 profile-top-black-box"
                                 style="padding-left: 0px ;padding-right: 0px ;">

                                <div class="col-lg-12"  style="padding-top: 15px;">
                                    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

                                    <div class="col-lg-12"
                                         style="padding-left: 0px;padding-right: 0px; padding-top: 15px;">

                                        <div class="panel-body profile-inner-grey-box" style="min-height: 500px">

                                            <p class="contactBoxTitle">this section is only available for matthias.karacsonyi@gmail.com and dmorales.ing.uchile@gmail.com</p>
                                            <div class="col-lg-6 col-sm-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">Chart Data</div>
                                                    <div class="panel-body" style="color:black !important;">
                                                        <table class="table table-responsive table-condensed">
                                                            <tr>
                                                                <th ng-repeat="label in labels">{{label}}</th>
                                                            </tr>
                                                            <tr ng-repeat="dataSet in data">
                                                                <td ng-repeat="set in dataSet track by $index"><span style="text-align: right;">{{data[$parent.$index][$index]}}</span></td>
                                                            </tr>
                                                        </table>
                                                        <input ng-click="randomize()" value="Randomize" type="button" class="pull-right"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">Reactive Chart</div>
                                                    <div class="panel-body">
                                                        <canvas id="tables" class="chart chart-line" data="data" labels="labels"></canvas>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12" style="padding-left: 0px; padding-right: 0px">

                                <div class="panel-body profile-top-black-box" style="min-height: 10px">
                                    <!-- COLOR PLACEHOLDER -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body" style="min-height: 30px; background-color: #989898;">
                    <!-- COLOR PLACEHOLDER -->
                </div>
            </div>

        </div>
    </div>

</div>


