
<div ng-controller="ContactRequestController">
    <script id="template/alert/alert.html" type="text/ng-template">
        <div class='alert' style="background-color:#dc8723 !important; color:white !important" ng-class='type && "alert-" + type'>
            <button ng-show='closeable' type='button' class='close' ng-click='close()'>x</button>
            <div ng-transclude></div>
        </div>
    </script>
    <div class="hn-fluid-container" style="background-color: white;">

        <div id="page-wrapper_top">
            <div class="row">
                <div class="col-lg-12" style="min-height: 30px">

                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    </div>

    <div class="hn-fluid-container" style="">

        <div id="page-wrapper_contact_heading_title">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="headline1" translate>Something went really wrong :(</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    </div>
    <div class="hn-fluid-container" style="background-color: white">

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="hn-fluid-container">

                <div class="row">

                    <div style="min-height: 30px">
                        <p class="billi-headline" translate>Oops!</p>

                        <!-- placeholder for the color -->
                    </div>

                    <div class="col-lg-12">
                        <div class="panel panel-default removePanelBorder">

                            <div class="col-lg-12 profile-top-black-box"
                                 style="padding-left: 0px ;padding-right: 0px ;">

                                <div class="col-lg-12"  style="padding-top: 15px;">
                                    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

                                    <div class="col-lg-12"
                                         style="padding-left: 0px;padding-right: 0px; padding-top: 15px;">

                                        <div class="panel-body profile-inner-grey-box" style="min-height: 500px">

                                        <p class="contactBoxTitle" translate>An Error happened, let us know so that we can fix it!</p>


                                        <div class="error-actions">
                                            <a href="#/welcome" class="btn btn-contact-form btn-lg pull-left" translate><span class="glyphicon glyphicon-home"></span>
                                                Take Me Home </a><a href="#/contact" class="btn btn-contact-form btn-lg pull-left" translate><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12" style="padding-left: 0px; padding-right: 0px">

                                <div class="panel-body profile-top-black-box" style="min-height: 10px">
                                    <!-- COLOR PLACEHOLDER -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body" style="min-height: 30px; background-color: #989898;">
                    <!-- COLOR PLACEHOLDER -->
                </div>
            </div>

        </div>
    </div>

</div>


