<div ng-controller="WelcomeController">
<div class="hn-fluid-container" style="background-color: white;">

    <div id="page-wrapper_top">
        <div class="row">
            <div class="col-lg-12" style="min-height: 30px">

            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>

<div class="hn-fluid-container" style="">

    <div id="page-wrapper_heading_title">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="headline1 fix-section-header" translate>Welcome to the helping network!</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>


<div class="hn-fluid-container" style="background-color: white">


    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="hn-fluid-container">

            <!-- 16:9 aspect ratio -->


            <div class="row">

                <div style="min-height: 30px">
                    <!-- placeholder for the color -->

                </div>

                <div class="col-lg-12">
                    <div class="col-lg-2">

                    </div>


                    <div class="col-lg-8">
                <div class="flex-video widescreen" style="margin-top: 50px;"><iframe src="https://www.youtube.com/embed/Faf4vgjiIe0?wmode=transparent" frameborder="0" frameborder="0" allowfullscreen=""></iframe></div>
            </div>
                                                        <!-- 16:9 aspect ratio -->
                    <div class="col-lg-2">

                    </div>
                </div>


                <div class="col-lg-3">


                    <div class="panel panel-default removePanelBorder" >
                        <br>
                           <p class="billi-headline" translate>about us:</p>


                        <div class="panel-heading changeTopBackGround">
                            <i class="fa fa-users fa-5x " style="display:block;text-align:center; padding-top: 25px;"></i>

                        </div>
                        <br>

                        <div class="panel-body changeBottomBackGround">
                            <p class="description-heading description-heading-community" translate>Community</p>

                            <p class="presentationBoxText" translate> Everyone needs help. Normally that's what family and friends are for, but sometimes you may need an extra helping hand. HELPING.network help you find the perfect help from all around the world.</p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3">
                    <div class="panel panel-default removePanelBorder" >
                        <div class="panel-heading changeTopBackGround">
                            <i class="fa fa-graduation-cap fa-5x " style="display:block;text-align:center; padding-top: 25px;"></i>
                        </div>
                        <br><br>
                        <div class="panel-body changeBottomBackGround">
                            <p class="description-heading description-heading-philosophy" translate>Philosophy</p>

                            <p class="presentationBoxText" translate>Everyone is very good at something, so are you. Just help people in what you are good at and receive help back in what you are not so good at. Let's go back to the honest help exchange that build our communities.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="panel panel-default removePanelBorder" >
                        <div class="panel-heading changeTopBackGround">
                            <i class="fa fa-recycle fa-5x "style="display:block;text-align:center; padding-top: 25px;"></i>
                        </div>
                        <br><br>
                        <div class="panel-body changeBottomBackGround">
                            <p class="description-heading description-heading-karma-system" translate>Karma System</p>

                            <p class="presentationBoxText" translate>To post help requests you need to earn karma points by helping others. That's how the simple but working cycle starts: helping and receiving help. To get things started every user starts with 1 karma point. Start now and improve your karma!</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="panel panel-default removePanelBorder" >
                        <div class="panel-heading changeTopBackGround">
                            <i class="fa fa-flag fa-5x " style="display:block;text-align:center; padding-top: 25px;"></i>
                        </div>
                        <br><br>
                        <div class="panel-body changeBottomBackGround">
                            <p class="description-heading description-heading-common-goal" translate>Common Goal</p>

                            <p class="presentationBoxText" translate>Guess what, sometimes you can find the perfect helper closer than you expected!. Earlier neighbours helped each other every day. Locally, honest and easy. That's how it should be again.</p>
                        </div>
                    </div>
                </div>

                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.hn-fluid-container -->
    </div>
    <!-- /#page-wrapper -->

</div>
</div>