
<!DOCTYPE html>
<!--  THIS THING IS NEEDED AT THE MOMENT BECAUSE THE CHAT PAGE CURRENTLY IS ONLY SERVED BY SERVER TEMPLATES AND NOT FROM
ANGULARJS
First they ignore you, then they laugh at you, then they fight you, then you win. - Mohandas Karamchand Gandhi -->
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="matyas" >

    <title>Scratchand Help Others And Receive Help All Over The World</title>
    <script src={{ static_url("js/jquery-1.10.2.js")}}></script>

    <!-- Bootstrap core CSS -->
    <link href="{{static_url("css/bootstrap.css")}}" rel="stylesheet">
        <!-- Add custom CSS here -->

            <link href="{{static_url("css/simple_sidebar.css")}}" rel="stylesheet">
            <link href="{{static_url("css/stylish-portfolio.css")}}" rel="stylesheet">
            <link href="{{ static_url("font-awesome/css/font-awesome.min.css")}}" rel="stylesheet">

            <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />
            <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>


    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet'>
    <link rel="stylesheet" href ={{static_url("css/map.css")}} />
    <script src="{{ static_url("js/jquery-1.10.2.js")}}"></script>

    <script src="{{ static_url("lib/angular/angular.js")}}"></script>
    <script src="{{ static_url("lib/angular/angular-cookies.js")}}"></script>

    <script src="{{ static_url("lib/angular/angular-route.js")}}"></script>
    <script src="{{ static_url("js/ngAutocomplete.js")}}"></script>
    <script src="{{ static_url("js/promise-tracker.js")}}"></script>
    <script src="{{ static_url("js/geolocation.js")}}"></script>

    <script src="{{ static_url("js/app_v2.js")}}"></script>
    <script src="{{ static_url("js/services.js")}}"></script>
    <script src="{{ static_url("js/controllers_v2.js")}}"></script>
    <script src="{{ static_url("js/filters.js")}}"></script>
    <script src="{{ static_url("js/directives.js")}}"></script>

    <script src={{ static_url("js/chat.js") }}></script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script src="{{ static_url("js/angular-gm.min.js")}}"></script>

    <script src="{{ static_url("js/Google.js")}}"></script>
    <script src="{{ static_url("js/angular-leaflet-directive.js")}}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.0rc3/angular-resource.min.js"></script>

    <link rel="stylesheet" href="/static/css/chat.css?v=365c9e6de3ecac79c689386153ca83e7" />

    <style>
        #map {
            display: block;
            width: 100%;
            height: 400px;
        }

        #sidebar-wrapper {
            background: none repeat scroll 0 0 #FFFFFF !important;
            height: 100%;
            margin-right: -250px;
            overflow-y: auto;
            position: fixed;
            right: 0;
            transition: all 0.4s ease 0s;
            width: 250px;
            z-index: 1000;
        }



    </style>


</head>

<body>

{% block navbar %}

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a href="/" target="_self" class="brand"><img src="{{ static_url("img/rsz_logo.png")}}
            class="img-responsive"></a>

    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav pull-right">
            <li><a href="/" target="_self">How it Works</a></li>
            <li><a href="/#/profile">Profile</a></li>
            <li><a href="/auth/login">Login</a></li>

        </ul>
    </div>
</div>


</nav>

{% end %}

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">

            <li><a href="/" target="_self">Help Others</a>
            </li>
            <li><a <a href="/#/receive_help" target="_self">Receive Help</a>
            </li>
            <li><a href="/#/about" target="_self">About Us</a>
            </li>
            <li><a href="/" target="_self">Contact</a>
            </li>
            </li>
        </ul>
    </div>

    <!-- Page content -->
    <div id="page-content-wrapper">
        <div class="content-header">
            <h1>
                {% block body_title %}
                {% end %}
                <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder" style="top: 30;" ></i></a>
            </h1>
        </div>
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
            <div class="row">
                <content>

                    {% block body %}{% end %}
                </content>


                {% block page_footer %}


                <!-- Footer -->
                <footer>


                    <!--<div class="container">-->

                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <ul class="list-inline">
                                <li><i class="fa fa-facebook fa-3x"></i>
                                </li>
                                <li><i class="fa fa-twitter fa-3x"></i>
                                </li>
                                <li><i class="fa fa-dribbble fa-3x"></i>
                                </li>
                            </ul>
                            <div class="top-scroll">
                                <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
                            </div>
                            <hr>
                            <p>Copyright &copy; Scratchand 2014</p>
                        </div>
                    </div>
                    <!--</div>-->
                </footer>
                <!-- /Footer -->
                {% end %}

            </div>
        </div>
    </div>

</div>

<!-- JavaScript -->
<script src={{ static_url("js/bootstrap.js")}}></script>


<!-- Custom JavaScript for the Menu Toggle -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("active");
});
</script>
</body>

</html>
