
<!DOCTYPE html>
<!-- First they ignore you, then they laugh at you, then they fight you, then you win. - Mohandas Karamchand Gandhi -->

<!-- TODO: bad naming of 'myApp' -->
<html ng-app="myApp" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="matyas" >

    <title>Scratchand Help Others And Receive Help All Over The World</title>
    <script src={{ static_url("js/jquery-1.10.2.js")}}></script>
    <script src={{ static_url("js/bootstrap.js")}}></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />


    <!-- Add custom CSS here -->

    <link href="{{static_url("css/simple_sidebar.css")}}" rel="stylesheet">
    <link href="{{static_url("css/stylish-portfolio.css")}}" rel="stylesheet">
    <link href="{{ static_url("font-awesome/css/font-awesome.min.css")}}" rel="stylesheet">
    <link href="{{ static_url("css/sb-admin.css")}}" rel="stylesheet">

    <link href="{{ static_url("css/parallax.css")}}" rel="stylesheet">


    <link href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css" rel="stylesheet">


    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>


    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet'>
    <link rel="stylesheet" href ={{static_url("css/map.css")}} />
    <script src="{{ static_url("js/jquery-1.10.2.js")}}"></script>

    <script src="{{ static_url("lib/angular/angular.js")}}"></script>
    <script src="{{ static_url("lib/angular/angular-cookies.js")}}"></script>
    <script src="{{ static_url("lib/angular/angular-route.js")}}"></script>
    <script src="{{ static_url("js/ngAutocomplete.js")}}"></script>
    <script src="{{ static_url("js/promise-tracker.js")}}"></script>
    <script src="{{ static_url("js/geolocation.js")}}"></script>
    <script src="{{ static_url("js/geolocation.js")}}"></script>
    <script src="{{ static_url("js/angular-parallax.js")}}"></script>

    <script src="{{ static_url("js/app_v2.js")}}"></script>
    <script src="{{ static_url("js/services.js")}}"></script>
    <script src="{{ static_url("js/controllers_v2.js")}}"></script>
    <script src="{{ static_url("js/filters.js")}}"></script>
    <script src="{{ static_url("js/directives.js")}}"></script>

    <script src={{ static_url("js/chat_uncommented.js") }}></script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script src="{{ static_url("js/angular-gm.min.js")}}"></script>

    <script src="{{ static_url("js/Google.js")}}"></script>
    <script src="{{ static_url("js/angular-leaflet-directive.js")}}"></script>
    <script src="cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.0rc3/angular-resource.min.js"></script>

    <link rel="stylesheet" href="/static/css/chat.css?v=365c9e6de3ecac79c689386153ca83e7" />


    <!-- TODO: remove styles from base.html. Should be moved to CSS file. -->
    <style>
        #map {
            display: block;
            width: 100%;
            height: 400px;
        }

        #sidebar-wrapper {
            background: none repeat scroll 0 0 #FFFFFF !important;
            height: 100%;
            margin-right: -250px;
            overflow-y: auto;
            position: fixed;
            right: 0;
            transition: all 0.4s ease 0s;
            width: 250px;
            z-index: 1000;
        }
    </style>


    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script>
      $(document).ready(function () {
          console.log('starting this thing');

      });
    </script>
</head>

<body>

<!-- todo include dynamic navbar with proper login and logout button -->
{% block navbar %}

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="/" target="_self" class="brand"><img src="{{ static_url("img/rsz_logo.png")}}
                class="img-responsive"></a>

        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav pull-right">
                <li><a href="/" target="_self">How it Works</a></li>
                <li><a href="#/profile">Profile</a></li>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/auth/logout">Logout</a></li>

            </ul>
        </div>
    </div>
    </nav>
    {% end %}

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">

                <li><a href="#/welcome">Help Others</a>
                </li>
                <li><a href="#/receive_help">Receive Help</a>
                </li>
                <li><a href="#/about">About Us</a>
                </li>
                <li><a href="#/contact">Contact</a>
                </li>
                </li>
            </ul>
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder" style="top: 30;" ></i></a>
            <!--
            <div class="content-header">
                    <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder" style="top: 30;" ></i></a>
            </div>
            -->
            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">
                <div class="row">
                    <content>

                        {% block body %}     {% end %}
                    </content>



                    {% block page_footer %}

                    <!-- Footer -->
                    <footer>

                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 text-center">
                                <ul class="list-inline">
                                    <li><i class="fa fa-facebook fa-3x"></i>
                                    </li>
                                    <li><i class="fa fa-twitter fa-3x"></i>
                                    </li>
                                    <li><i class="fa fa-dribbble fa-3x"></i>
                                    </li>
                                </ul>
                                <div class="top-scroll">
                                    <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
                                </div>
                                <hr>
                                <p>Copyright &copy; Scratchand 2014</p>
                            </div>
                        </div>
                    </footer>
                    <!-- /Footer -->
                    {% end %}
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript -->


<!-- TODO: remove Javascript from base.html should be in a proper .js file. -->
    <!-- Custom JavaScript for the Menu Toggle -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>
</body>

</html>
