
                        <li class="right clearfix"><span class="chat-img pull-right">
                            <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{ message['time'] }}</small>
                                    <strong class="pull-right primary-font">{{ message['from'] }}</strong>
                                </div>
                                <p>
                      {% module linkify(message["body"]) %}
                                </p>
                            </div>
                        </li>