{% extends base_chat.html %}
{% block customscripts %}
<link rel="stylesheet" href="{{static_url("css/chat.css")}}" />

<script>
    $(document).ready(function(){
        $("#hide").click(function(){
            $("p").hide();
        });
        $("#show").click(function(){
            $("p").show();
        });
    });
</script>

{% end %}
{% block body %}
<!-- Intro -->

<div class="row">
    <div class="col-md-5">
        <div class="hide" id="itch_id">{{ itch_id }}</div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span> Chat

            </div>
            <div class="panel-body">
                <ul class="chat">

                    </span>
                    <div class="chat-body clearfix">


                        <div id="inbox">
                            {% for message in messages %}
                            {% module Template("chat-message.html", message=message) %}
                            {% end %}
                        </div>



                    </div>

                    <li class="left clearfix">
                        <div class="chat-body clearfix">
                            <div class="header">

                            </div>

                        </div>
                    </li>

                </ul>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <div id="input">
                        <form action="/a/message/new" method="post" id="messageform">
                            <table>
                                <tr>
                                    <td><input class="form-control input-sm" placeholder="Type your message here..."  name="body" id="message" style="width:200px"/></td>
                                    <td style="padding-left:5px">
                                        <input type="submit" value="{{ _("Post") }}" />
                                        <input type="hidden" name="next" value="{{ request.path }}"/>
                                        {% module xsrf_form_html() %}
                                        <br>


                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>


                    <!--
                    <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                    <span class="input-group-btn">
                        <button class="btn btn-warning btn-sm" onclick="submit();" type="submit" id="btn-chat" value="{{ _("Post") }}" >
                            Send</button>
                    </span>
                    -->
                </div>
            </div>
        </div>
        <p> <a href="/save_conversation_to_profile" class="btn btn-default btn-default"><span class="glyphicon glyphicon-pushpin"></span> save conversation to profie</a>
        <form action="/assign_itch">

                    <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-ok"></span> I can help out!
                </button>
        </form> </p>
    </div>
    <div class="col-md-5">
        <h2 id="itch_title">{{ itch.title }}</h2>

        <div id="itch_description">
            <p>{{ itch.description }}</p>
            <p>Due date: {{itch.due_date}}</p>

            <!--
            <div>
                <div class="alert-info">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Finished?</strong> If the request was completed click the button above
                    to finish the transaction!
                </div>
                </p>

            </div>
           -->

        </div>
    </div>
</div>
</div>



<!--
                    <h2>This Is An Open Chat For This Itch </h2>
                        <div id="nav">
                          <b>{{ user_name }}</b> -
                          <a href="/auth/logout">{{ _("Sign out") }}</a>
                        </div>
-->
{# Do NOT erase the div with the ID itch_id - but it is allowed to hide it. :) #}




<!--  <script src="{{ static_url("js/jquery-1.10.2.js") }}" type="text/javascript"></script> -->


{% end block %}
