{% extends "base.html" %}

{% block customscripts %}

     <script>
      $(function(){

     $("#gmaps_plugin").geocomplete({
     details: "form"

     });   // this selects the location input field in the html page

      $.backstretch("static/img/world_map.png"); // setting the background image

 $(document).on('submit', 'form[data-async]', function(event) {
        var $form = $(this);
        var $target = $($form.attr('data-target'));
        var submitButton = $("input[type='submit'][clicked=true], button[type='submit'][clicked=true]", $form);

        var formData = $form.serializeArray();
        if (submitButton.size() === 1) {
            formData.push({ name: $(submitButton[0]).attr("name"), value: "1" });
        }
        else if(submitButton.size() !== 0) {
            console.log("Multiple submit-buttons pressed. This should not happen!");
        }

        $.ajax({
            type: $form.attr('method'),
            url: $form.attr('action'),
            data: formData,

            success: function(data, status) {
                $target.html(data);
            }
        });

        event.preventDefault();
    });

    $(document).on("click", 'input[type="submit"], button[type="submit"]', function() {
        $('form[data-async] input[type=submit], form[data-async] button[type=submit]', $(this).parents("form")).removeAttr("clicked");
        $(this).attr("clicked", "true");
    });


      });
    </script>

{% end %}

{% block navbar %}
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
<a href= "/" class="brand"><img src="static/img/rsz_logo.png" class="img-responsive"></a>
</div>
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav pull-right">
        <li><a href="/profile">Profile</a></li>
        <li><a href="/#map">Where Can I Help?</a></li>
        <li><a href="/create-scratch">I Need Help With Something</a></li>
        <li><a href="/#services">How It Works</a></li>
        <li><a href="auth/login">Login</a></li>
    </ul>
</div>
</div>

{% end %}

{% block infobox %} <!-- removing the infobox from this page -->
{% end %}

{% block body %}


<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-8 column">

                    <form class="form-horizontal" method="post" action="/save-itch">

                        <fieldset>
.
                        <!-- Form Name -->
                        <legend><h3>Help Request <button id="singlebutton" name="singlebutton" class="btn btn-primary" onclick="submit(); type="submit">Create HelpOffer</button></h3> </legend>

                        <!-- Prepended text-->
                        <div class="form-group">
                          <label class="col-md-8 control-label" for="prependedtext">Itch Title </label>
                          <div class="col-md-8">
                            <div class="input-group">
                              <span class="input-group-addon">Title</span>
                              <input id="prependedtext" name="title" class="form-control" placeholder="title text here" required="" type="text">
                            </div>
                            <p class="help-block">the Itch title that will appear on the map. </p>
                          </div>
                        </div>

                        <!-- Textarea -->
                        <div class="form-group">
                          <label class="col-md-8 control-label" for="textarea">HelpOffer Description </label>
                          <div class="col-md-8">
                            <textarea class="form-control" id="textarea" name="textarea" placeholder="title text here" >what exactly do you need? </textarea>
                          </div>
                        </div>

                        <!-- Search input-->
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="gmaps_plugin">Location</label>
                          <div class="col-md-4">
                            <p><input id="gmaps_plugin" name="location" placeholder="adress or location " class="form-control input-md" class="geocomplete" required="" type="search"><img src="http://maps.google.com/mapfiles/poweredby.png"></p>
                            <p class="help-block">needed for the map appearance</p>
                          </div>
                        </div>

                        <!-- Select Basic -->
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="privacy">Visibility</label>
                          <div class="col-md-4">
                            <select id="privacy" name="privacy" class="form-control">
                              <option value="Public HelpOffer">Public HelpOffer</option>
                              <option value="Private HelpOffer">Private HelpOffer</option>
                            </select>
                          </div>
                        </div>


                           <div id="hidden" class="details">

  Latitude:   <input name="lat" type="text" value="">
  Longitude:  <input name="lng" type="text" value="">
  Address:    <input name="formatted_address" type="text" value="">

                           </div>


                        <!-- Button -->
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="singlebutton"></label>
                          <div class="col-md-4">
                            <button id="singlebutton" name="singlebutton" class="btn btn-primary" onclick="submit(); type="submit">Create Itch</button>
                          </div>
                        </div>

                        </fieldset>
                        {% raw xsrf_form_html() %}
                    </form>

                </div>

                <!--<div class="col-md-4 column">-->
                    <!--<div class="row clearfix">-->
				        <!--<div class="col-md-12 column">-->
				                <!--<br>-->
                                <!--<br>-->
                                 <!--<br>-->
                                <!--<br>-->
                                 <!--<br>-->
                                <!--<br>-->
				                <!--<img src="static/img/sample_scratch.png" class="img-responsive">-->
                                        <!--<a data-toggle="modal" href="#rating-modal">Write a Review</a>-->

                                        <!--<div class="hide fade modal" id="rating-modal">-->
                                        <!--<div class="modal-header">-->
                                        <!--<button type="button" class="close" data-dismiss="modal">×</button>-->
                                        <!--<h2>Your Review</h2>-->
                                        <!--</div>-->

                                        <!--<div class="modal-body">-->
                                        <!--&lt;!&ndash; The async form to send and replace the modals content with its response &ndash;&gt;-->
                                        <!--<form class="form-horizontal well" data-async data-target="#rating-modal" action="/some-endpoint" method="POST">-->
                                        <!--<fieldset>-->
                                        <!--&lt;!&ndash; form content &ndash;&gt;-->
                                        <!--</fieldset>-->
                                        <!--</form>-->
                                        <!--</div>-->

                                        <!--<div class="modal-footer">-->
                                        <!--<a href="#" class="btn" data-dismiss="modal">Cancel</a>-->
                                        <!--</div>-->
                                        <!--</div>-->

                       <!--</div>-->
			        <!--</div>-->
                <!---->
                </div>
			</div>
		</div>
	</div>
</div>
	 <!-- JavaScript -->
    <script src="static/js/bootstrap.js"></script>

{% end %}