{% extends "base.html" %}

{% block customscripts %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

<script>
// This example adds a search box to a map, using the Google Place Autocomplete
// feature. People can enter geographical searches. The search box will return a
// pick list containing a mix of places and predicted search terms.
var bounds = new google.maps.LatLngBounds();

function initialize() {
   var myLatlng = new google.maps.LatLng({{latitude}}, {{longitude}});
   var mapOptions = {
          center: myLatlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          zoom: 13
        };

  var markers = [];
  var map = new google.maps.Map(document.getElementById('map-canvas'),
    mapOptions);

  var marker = new google.maps.Marker({
    position: myLatlng,
    map: map,
    clickable: true,
    title:"Hello World!"
});

marker.info = new google.maps.InfoWindow({
  content: '<b>{{scratch_title}}</b> <br> {{scratch_content}} <br>  <a href="/itch/{{chat_id_reference}}">Get In Touch!</a>'
});

google.maps.event.addListener(marker, 'click', function() {
  marker.info.open(map, marker);
});


  // BOUNDS ARE NOT IMPORTANT HERE
  //var defaultBounds = new google.maps.LatLngBounds(
  //    new google.maps.LatLng(48.1495024, 14.034746100000007),
  //    new google.maps.LatLng(48.1495024, 14.034746100000007));
  //map.fitBounds(defaultBounds);
  //map.setOptions(mapOptions); // setting the zoom level



  // Create the search box and link it to the UI element.
  var input = /** @type {HTMLInputElement} */(
      document.getElementById('pac-input'));
  map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

  var searchBox = new google.maps.places.SearchBox(
    /** @type {HTMLInputElement} */(input));

  // [START region_getplaces]
  // Listen for the event fired when the user selects an item from the
  // pick list. Retrieve the matching places for that item.
  google.maps.event.addListener(searchBox, 'places_changed', function() {
    var places = searchBox.getPlaces();

    for (var i = 0, marker; marker = markers[i]; i++) {
      marker.setMap(null);
    }

    // For each place, get the icon, place name, and location.
    markers = [];
    var bounds = new google.maps.LatLngBounds();
    for (var i = 0, place; place = places[i]; i++) {
      var image = {
        url: place.icon,
        size: new google.maps.Size(71, 71),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(17, 34),
        scaledSize: new google.maps.Size(25, 25)
      };

      // Create a marker for each place.
      var marker = new google.maps.Marker({
        map: map,
        icon: image,
        title: place.name,
        position: place.geometry.location
      });

      markers.push(marker);

      bounds.extend(place.geometry.location);
    }

    map.fitBounds(bounds);
    map.setZoom(17); // sets the zoom level out TODO this has to be done dynamically!
  });
  // [END region_getplaces]

  // Bias the SearchBox results towards places that are within the bounds of the
  // current map's viewport.
  google.maps.event.addListener(map, 'bounds_changed', function() {
    var bounds = map.getBounds();
    searchBox.setBounds(bounds);
  });
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% end %}

{% block customstyle %}
<link rel="stylesheet" href="{{static_url("css/map.css")}}">
    <style>
      #target {
        width: 345px;
      }
    </style>
{% end %}

{% block body %}
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map-canvas"></div>
{% end %}


