{% extends "base.html" %}

{% block customscripts %}
<!-- MAP SETTINGS -->

<script type='text/javascript'>//<![CDATA[
/**
  * Basic Map
  */
$(document).ready(function(){
 // This example adds a search box to a map, using the Google Place Autocomplete
// feature. People can enter geographical searches. The search box will return a
// pick list containing a mix of places and predicted search terms.

function initialize() {

  var markers = [];
  var  mapOptions = {
            zoom :13,
            draggable: true,
            scrollwheel: true,
            disableDoubleClickZoom: false,
            scrollwheel: false,
            zoomControl: true
        };

  var map = new google.maps.Map(document.getElementById('map-canvas'), {
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  var defaultBounds = new google.maps.LatLngBounds(
      new google.maps.LatLng(-33.8902, 151.1759),
      new google.maps.LatLng(-33.8474, 151.2631));
  map.fitBounds(defaultBounds);
  map.setOptions(mapOptions); // setting the zoom level



  // Create the search box and link it to the UI element.
  var input = /** @type {HTMLInputElement} */(
      document.getElementById('pac-input'));
  map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

  var searchBox = new google.maps.places.SearchBox(
    /** @type {HTMLInputElement} */(input));

  // [START region_getplaces]
  // Listen for the event fired when the user selects an item from the
  // pick list. Retrieve the matching places for that item.
  google.maps.event.addListener(searchBox, 'places_changed', function() {
    var places = searchBox.getPlaces();
    for (var i = 0, marker; marker = markers[i]; i++) {
      marker.setMap(null);
    }

    // For each place, get the icon, place name, and location.
    markers = [];
    var bounds = new google.maps.LatLngBounds();
    for (var i = 0, place; place = places[i]; i++) {
      var image = {
        url: place.icon,
        size: new google.maps.Size(71, 71),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(17, 34),
        scaledSize: new google.maps.Size(25, 25)

      };

      // Create a marker for each place.
      var marker = new google.maps.Marker({
        map: map,
        icon: image,
        title: place.name,
        position: place.geometry.location,
      });

      markers.push(marker);

      bounds.extend(place.geometry.location);

    }

    map.fitBounds(bounds);
    map.setZoom(11); // sets the zoom level out TODO this has to be done dynamically!

  });
  // [END region_getplaces]

  // Bias the SearchBox results towards places that are within the bounds of the
  // current map's viewport.
  google.maps.event.addListener(map, 'bounds_changed', function() {
    var bounds = map.getBounds();



    searchBox.setBounds(bounds);
  });
}

google.maps.event.addDomListener(window, 'load', initialize);

 $("#gmaps_plugin").geocomplete({
     details: "form"

     });   // this selects the location input field in the html page

      //$.backstretch("static/img/world_map.png"); // setting the background image

 $(document).on('submit', 'form[data-async]', function(event) {
        var $form = $(this);
        var $target = $($form.attr('data-target'));
        var submitButton = $("input[type='submit'][clicked=true], button[type='submit'][clicked=true]", $form);

        var formData = $form.serializeArray();
        if (submitButton.size() === 1) {
            formData.push({ name: $(submitButton[0]).attr("name"), value: "1" });
        }
        else if(submitButton.size() !== 0) {
            console.log("Multiple submit-buttons pressed. This should not happen!");
        }

        $.ajax({
            type: $form.attr('method'),
            url: $form.attr('action'),
            data: formData,

            success: function(data, status) {
                $target.html(data);
            }
        });

        event.preventDefault();
    });

    $(document).on("click", 'input[type="submit"], button[type="submit"]', function() {
        $('form[data-async] input[type=submit], form[data-async] button[type=submit]', $(this).parents("form")).removeAttr("clicked");
        $(this).attr("clicked", "true");
    });

      });




</script>

{% end %}

{% block customstyle %}

#preview_map{
display: block;
width: 100%;
height: 400px;
}

#map {
    height:420px;
    width:600px;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
h2 {
    margin-bottom:0;
    margin-top: 0;
}


{% end %}

{% block body %}
{% end %}

{% block angularApp %}



<script type="text/ng-template" id="welcome.html">

        <!-- Full Page Image Header Area -->
    <!--<div class="row">-->
        <!--<div id="top" class="header">-->
            <!--<div class="vert-text">-->
                <!--<h1>Start Bootstrap</h1>-->
                <!--<h3>-->
                    <!--<em>We</em> Build Great Templates,-->
                    <!--<em>You</em> Make Them Better</h3>-->
                <!--<a href="#about" class="btn btn-default btn-lg">Find Out More</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<br>-->
    <!-- /Full Page Image Header Area -->

    <!-- Services -->
     <div id="services" class="services">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2>How It Works</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-rocket"></i>
                        <h4>Get Help</h4>
                        <p>Did your navigation system shut down in the middle of that asteroid field? We can repair any dings and scrapes to your spacecraft!</p>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-magnet"></i>
                        <h4>Receive Help</h4>
                        <p>Need to know how magnets work? Our problem solving solutions team can help you identify problems and conduct exploratory research.</p>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-shield"></i>
                        <h4>Karma</h4>
                        <p>Planning a time travel trip to the middle ages? Preserve the space time continuum by blending in with period accurate armor and weapons.</p>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-pencil"></i>
                        <h4>Volunteering</h4>
                        <p>We've been voted the best pencil sharpening service for 10 consecutive years. If you have a pencil that feels dull, we'll get it sharp!</p>
                    </div>
                </div>
            </div>
    </div>

    <!-- /Services -->

    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map-canvas"></div>

    <!-- Intro -->
    <div id="about" class="intro">
        <!--<div class="container">-->
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2>Subtle Sidebar is the Perfect Template for your Next Portfolio Website Project!</h2>

                    <p class="lead">This template really has it all. It's up to you to customize it to your liking! It
                        features some fresh photography courtesy of <a target="_blank"
                                                                       href="http://join.deathtothestockphoto.com/">Death
                            to the Stock Photo</a>.</p>
                </div>
            </div>
        <!--</div>-->
    </div>
    <!-- /Intro -->


    <!-- Callout -->
    <div class="callout">
        <div class="vert-text">
            <h1>A Dramatic Text Area</h1>
        </div>
    </div>
    <!-- /Callout -->

    <!-- Portfolio -->
    <div id="portfolio" class="portfolio">
        <!--<div class="container">-->
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2>Our Work</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href="#">
                            <img class="img-portfolio img-responsive" src={{ static_url("img/portfolio-1.jpg")}}>
                        </a>
                        <h4>Cityscape</h4>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                        <a href="#">
                            <img class="img-portfolio img-responsive" src={{ static_url("img/portfolio-2.jpg")}}>
                        </a>
                        <h4>Is That On Fire?</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href="#">
                            <img class="img-portfolio img-responsive" src={{ static_url("img/portfolio-3.jpg")}}>
                        </a>
                        <h4>Stop Sign</h4>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                        <a href="#">
                            <img class="img-portfolio img-responsive" src={{static_url("img/portfolio-4.jpg")}}>
                        </a>
                        <h4>Narrow Focus</h4>
                    </div>
                </div>
            </div>
        <!--</div>-->
    </div>
    <!-- /Portfolio -->

    <!-- Call to Action -->
    <div class="call-to-action">
        <!--<div class="container">-->
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h3>The buttons below are impossible to resist.</h3>
                    <a href="#" class="btn btn-lg btn-default">Click Me!</a>
                    <a href="#" class="btn btn-lg btn-primary">Look at Me!</a>
                </div>
            </div>
        <!--</div>-->
    </div>
    <!-- /Call to Action -->










</script>

<script type="text/ng-template" id="create_request.html">

  <form class="form-horizontal" method="post" action="/save-itch">

                        <fieldset>
.
                        <!-- Form Name -->
                        <legend><h3>Help Request <button id="singlebutton" name="singlebutton" class="btn btn-primary" onclick="submit(); type="submit">Create HelpOffer</button></h3> </legend>

                        <!-- Prepended text-->
                        <div class="form-group">
                          <label class="col-md-8 control-label" for="prependedtext">Itch Title </label>
                          <div class="col-md-8">
                            <div class="input-group">
                              <span class="input-group-addon">Title</span>
                              <input id="prependedtext" name="title" class="form-control" placeholder="title text here" required="" type="text">
                            </div>
                            <p class="help-block">the Itch title that will appear on the map. </p>
                          </div>
                        </div>

                        <!-- Textarea -->
                        <div class="form-group">
                          <label class="col-md-8 control-label" for="textarea">HelpOffer Description </label>
                          <div class="col-md-8">
                            <textarea class="form-control" id="textarea" name="textarea" placeholder="title text here" >what exactly do you need? </textarea>
                          </div>
                        </div>

                        <!-- Search input-->
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="gmaps_plugin">Location</label>
                          <div class="col-md-4">
                            <p><input id="gmaps_plugin" name="location" placeholder="adress or location " class="form-control input-md" class="geocomplete" required="" type="search"><img src="http://maps.google.com/mapfiles/poweredby.png"></p>
                            <p class="help-block">needed for the map appearance</p>
                          </div>
                        </div>

                        <!-- Select Basic -->
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="privacy">Visibility</label>
                          <div class="col-md-4">
                            <select id="privacy" name="privacy" class="form-control">
                              <option value="Public HelpOffer">Public HelpOffer</option>
                              <option value="Private HelpOffer">Private HelpOffer</option>
                            </select>
                          </div>
                        </div>


                           <div class="details">

  Latitude:   <input name="lat" type="text" value="">
  Longitude:  <input name="lng" type="text" value="">
  Address:    <input name="formatted_address" type="text" value="">

                           </div>


                        <!-- Button -->
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="singlebutton"></label>
                          <div class="col-md-4">
                            <button id="singlebutton" name="singlebutton" class="btn btn-primary" onclick="submit(); type="submit">Create Itch</button>
                          </div>
                        </div>

                        </fieldset>
                        {% raw xsrf_form_html() %}
                    </form>





    <!--&lt;!&ndash; home.html &ndash;&gt;-->
    <!--<div class="jumbotron text-center">-->
        <!--<h1>Home Page</h1>-->

        <!--<p>{{!message}}</p>-->

        <!--<gm-map gm-map-id="'myMap'" gm-center="center" gm-zoom="zoom" gm-bounds="bounds" gm-map-type-id="mapTypeId"-->
                <!--style="width:500px;height:500px;"></gm-map>-->

    <!--</div>-->

</script>


<script type="text/ng-template" id="open_requests.html">

<div ng-controller="InfoWindowsCtrl">
<div gm-info-window="infoWindow">
<h4>{{!selectedVolcano.name}}</h4>
{{!selectedVolcano.elevationMeters}}m
</div>
<gm-map gm-map-id="'infoWindows'" gm-center="center" gm-zoom="zoom"
gm-map-options="options.map" class="map">
<gm-markers gm-objects="volcanoes"
gm-id="object.id"
gm-position="{ lat: object.location.lat, lng: object.location.lng }"
gm-marker-options="{ title: object.name, clickable: true }"
gm-events="markerEvents"
gm-on-openinfowindow="selectedVolcano = object; infoWindow.open(marker.getMap(), marker);"
gm-on-click="triggerOpenInfoWindow(object)">
</gm-markers>
</gm-map>
Click a marker or click a button below to learn more about the request.
<div ng-repeat="volcano in volcanoes">
<button class="btn" ng-click="triggerOpenInfoWindow(volcano)">
More about {{!volcano.name}}
</button>
</div>
</div>





    <!--
    <div ng-controller="SimpleMapCtrl">
        <h1>Open Requests</h1>

        <div>
            <gm-map gm-map-id="'simpleMap'" gm-center="center" gm-zoom="zoom" class="map">
            </gm-map>
        </div>



        <div>
            <label>
                Center:
                <input type="number" ng-model="centerLat"
                       ng-change="updateCenter(centerLat, centerLng)"></input>,
                <input type="number" ng-model="centerLng"
                       ng-change="updateCenter(centerLat, centerLng)"></input>

            </label>

            <label>
                Zoom: <input type="number" ng-model="zoom"></input>
            </label>


        </div>
        -->

        <p>{{! message }}</p>
    </div>


</script>

{% end %} <!-- angularApp ends -->


{%block bottom_javascript %}
<!-- JavaScript -->
<script src={{static_url("js/jquery-1.10.2.js")}}></script>
{% end %}

{% block footer %}
{% end %}
