/*
 * Style tweaks
 * --------------------------------------------------
 */
body {
  /*padding-top: 50px; */
  /*background-color: #f5f5f5; */
}
footer {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative !important;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -33%;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .sidebar-offcanvas {
    position: absolute;
    /*top: 0; */
    width: 33%;
    margin-left: 10px;
  }
}


/* Sidebar navigation */
.nav-sidebar {
  background-color: white;
  margin-right: -15px;
  /*margin-bottom: 20px; */
  margin-left: -15px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */

.main {
  padding: 20px;
  background-color: #fff;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


a {
    color: inherit;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: black;
}

  /* breite Browserfenster */
  .helping-network-navbar {
    background-color: white !important;
    border-color: white !important;
  }



@media (min-width: 950px) {
    /* breite Browserfenster */

    #map_welcome {
        height: 400px;
    }

    #map_help {
        height: 400px;
    }

    #map_receive_help {
        height: 400px;
    }

    #map_newRequest {
        height: 400px;
    }

    .removePaddingonBigScreens{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

}

@media (max-width: 950px) {
    /* kleine Browserfenster */
    #map_welcome {
        height: 200px;
    }

    #map_help {
        height: 200px;
    }

    #map_receive_help {
        height: 200px;
    }

    #map_newRequest {
        height: 200px;
    }


    .hn-header-logo{
    height: auto;
    width: 80%;
}

}






#map_welcome {
    display: block;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#map_help {
    display: block;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#map_receive_help {
    display: block;
    width: 100%;
}

#map_newRequest {
    display: block;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/**
 * Header
 */
.top-body-welcome{
background-color:#d9c600;
padding-top:30px;
padding-bottom:30px;
padding-left:30px;
padding-right:30px;
}

.welcome-page {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    background-color: #d9c600;

}

.help-others-page {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    background-color: #2d856f;

}

.receive-help-page {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    background-color: #79ca34;

}


.helping-network-navbar {
    background-color: white !important;
    border-color: white !important;
}

@font-face {
    font-family: 'Headline1'; /*a name to be used later*/
    src: url('../fonts/LeagueGothic-Regular.otf'); /*URL to font*/
}

@font-face {
    font-family: 'DescriptionBoxText'; /*a name to be used later*/
    src: url('../fonts/Lato2OFL/Lato-Medium.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Lato-Light'; /*a name to be used later*/
    src: url('../fonts/Lato2OFL/Lato-Light.ttf'); /*URL to font*/
}


@font-face {
    font-family: 'billi-font'; /*a name to be used later*/
    src: url('../fonts/billy.ttf'); /*URL to font*/
}

.headline1{
    font-family: 'Headline1';
    letter-spacing: 0.02em;
    color: #ffffff;
    text-transform: uppercase;
}

.largeRoundIcon
{
    padding: 35px 5px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 3px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;
    background-color: #808180;
}

.description-heading-community{
    text-transform: uppercase;
    font-family: 'Headline1';
    letter-spacing: 0.00em;
    color: #2d856f;
    display:block;
    text-align:center;
    font-size: 28px;
}

.description-heading-philosophy{
    text-transform: uppercase;
    font-family: 'Headline1';
    letter-spacing: 0.00em;
    color: #79ca34;
    display:block;
    text-align:center;
    font-size: 28px;
}

.receive-help-input-heading{
    text-transform: uppercase;
    font-family: 'Headline1';
    letter-spacing: 0.00em;
    color: #79ca34;
    display:block;
    text-align:left;
    font-size: 22px;
}

.contact-input-heading{
    text-transform: uppercase;
    font-family: 'Headline1';
    letter-spacing: 0.00em;
    color: #dc8723;
    display:block;
    text-align:left;
    font-size: 22px;
}



.receive-help-interaction-button{
    background-color: #79ca34 !important;
    color: #ffffff !important;
    border-color: #79ca34 !important;
    font-family: 'Headline1';
    letter-spacing: 0.02em;
}



.description-heading-karma-system{
    text-transform: uppercase;
    font-family: 'Headline1';
    letter-spacing: 0.00em;
    color: #d9c600 	;
    display:block;
    text-align:center;
    font-size: 28px;
}

.description-heading-common-goal{
    text-transform: uppercase;
    font-family: 'Headline1';
    letter-spacing: 0.00em;
    color: #dc8723;
    display:block;
    text-align:center;
    font-size: 28px;
}

.removePanelBorder {
    border-color: #989898 !important;
    box-shadow:0px 0px 0px !important;
    border: 0px solid !important;
    background-color: #989898 !important;
    margin-top: 15px;

}

.changeTopBackGround {
    background-color: #989898 !important;
    border-color: #989898 !important;
}


.changeBottomBackGround {
    background-color: #808180 !important;
    border-color: #808180 !important;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 390px;
}

.active-users-chat {
    background-color: #5A5A59 !important;
    border-color: #5A5A59 !important;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff !important;
    font-family: 'DescriptionBoxText' !important;
}


.help-others-map-bg {
    background-color:#5a5a59 !important;
    border-color: #5a5a59 !important;
    /*padding-left: 20px;
    padding-right: 20px; */
    min-height: 320px;
}

.receive-help-top-black-box{
    background-color:#5a5a59 !important;
    border-color: #5a5a59 !important;
    color: #ffffff !important;
    font-family: 'DescriptionBoxText' !important;

}

.receive-help-inner-grey-box{
    background-color:#808180;
    border-color: #808180;
    min-height: 320px;

}

.profile-top-black-box{
    background-color:#5a5a59 !important;
    border-color: #5a5a59 !important;
    color: #ffffff !important;
    font-family: 'DescriptionBoxText' !important;

}

.profile-inner-grey-box{
    background-color:#808180;
    border-color: #808180;
    /*min-height: 320px; */
}

.contact-inner-dark-grey-box{
    background-color:#989898 !important;
    border-color: #989898 !important;
    text-align: center;
    padding:5px;
}

.contact-grey-box-height{
    min-height:328px;
}


.panel-body-profile-references-box{
    background-color:#989898;
    border-color: #989898
;
}

.chat-top-black-box{
    background-color:#5a5a59 !important;
    border-color: #5a5a59 !important;
    /*color: #ffffff !important; */
    font-family: 'DescriptionBoxText' !important;

}

.chat-inner-grey-box{
    background-color:#808180!important;
    border-color: #808180!important;
    color:#ffffff !important;

}
.facebook-like-button{
    color:#ffffff !important;

}





.presentationBoxText{
    font-family: 'DescriptionBoxText';
    color: #ffffff;
    letter-spacing: 0.045em;
    text-align: left;
    padding: 4px;



}

.presentationBoxText a:hover{
    color: white !important;

}

.chatDescriptionTitle{
    font-family: 'DescriptionBoxText';
    color: #ffffff;
    letter-spacing: 0.045em;
    text-align: left;
    text-transform: uppercase;


}

.profileBoxTitle{
    text-transform: uppercase;
    font-family: 'Headline1';
    letter-spacing: 0.00em;
    color: #276874;
    display:block;
    text-align:left;
    font-size: 22px;
}

.contactBoxTitle{
    text-transform: uppercase;
    font-family: 'Headline1';
    letter-spacing: 0.00em;
    color: #dc8723;
    display:block;
    text-align:left;
    font-size: 22px;
}



.profileDescriptionText{
    font-family: 'Lato-Light';
    color: #ffffff;
    letter-spacing: 0.045em;
    text-align: left;


}


.receiveHelpDescriptionText{
    font-family: 'Lato-Light';
    color: #ffffff;
    letter-spacing: 0.045em;
    text-align: left;


}

.contactDescriptionText{
    font-family: 'Lato-Light';
    color: #ffffff;
    letter-spacing: 0.00em;
    text-align: center;


}

.loginDescriptionText{
    font-family: 'Lato-Light';
    color: #ffffff;
    letter-spacing: 0.00em;
    text-align: left;


}


.profileReviewHeading{
    font-family: 'DescriptionBoxText';
    color: #ffffff;
    letter-spacing: 0.045em;
    text-align: left;
    text-transform: uppercase;
}

.profileReviewRatingText{
    font-family: 'Lato-Light';
    color: #ffffff;
    letter-spacing: 0.045em;
    text-align: left;
}



.chatDescriptionDescription{
    font-family: 'DescriptionBoxText';
    color: #ffffff;
    letter-spacing: 0.045em;
    text-align: left;


}

.topNavBarDropdown{
    font-family: 'DescriptionBoxText';
    color: #ffffff;
    letter-spacing: 0.045em;
    text-align: left;
}


.profile-middle-box-heading{
    font-family: 'Headline1';
    color: #ffffff;
    letter-spacing: 0.001em;
    text-align: center;
    display:block;
    font-size: 30px;
    text-transform: uppercase;
}

.profileMenuEntry{
    font-family: 'billi-font';
    color: #ffffff !important   ;
    letter-spacing: 0.00em;
    text-align: left;
    font-size: 30px;

}

.profileMenuEntry a{
    color: #ffffff !important;

}
.openMenuLink{
    background-color: #808180;
    border-color:#808180;
    line-height: 0.8!important;
}


.profileMenuEntry a:hover,
.profileMenuEntry a:focus,
.profileMenuEntry a:active,
.profileMenuEntry a.active {
    color: #276874;
    background-color: #276874 !important;
    border-color: #276874 !important;
}


@media (min-width: 950px) {
    /* breite Browserfenster */

    .emptyMenuLink{
        text-decoration: none;
        background-color: #FFF !important;
        cursor: default;
        min-height: 60px
    }

    .hn-fluid-container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .billi-headline{
        font-size: 60px;
    }
}

@media (max-width: 950px) {
    /* kleine Browserfenster */
    .col-lg-12 {
        /*padding-left:0px !important; */
       /* padding-right: 0px !important; */
    }

    .col-lg-7 {
        padding-left:0px !important;
        padding-right: 0px !important;
    }

    .col-lg-5 {
        padding-left:0px !important;
        padding-right: 0px !important;
    }

    h1, .h1 {
        font-size: 20px !important;
    }

    .panel-body {
        padding: 1px !important;
    }

    .billi-headline{
        font-size: 20px;
    }
}




.hn-fluid-container{
    margin-right: auto;
    margin-left: auto;
}

.emptyMenuLink{
    text-decoration: none;
    background-color: #FFF !important;
    cursor: default;
}

.sideMenuEntry{
    padding-left: 30px;
    padding-top: 25px;
}

.billi-headline{
    font-family: 'billi-font';
    /* Safari */
    -webkit-transform: rotate(-6.5deg);
    /* Firefox */
    -moz-transform: rotate(-6.5deg);
    /* IE */
    -ms-transform: rotate(-6.5deg);
    /* Opera */
    -o-transform: rotate(-6.5deg);

    letter-spacing: 0.04em;
    color: white;
    text-transform: lowercase;
    z-index:100;
    position:absolute;
    padding-left: 20px;
    /*margin-top: -20%; */
    /*margin-left: -20px; */
}

@media (min-width: 950px) {
    /* breite Browserfenster */
.billi-headline{
    font-family: 'billi-font';
    /* Safari */
    -webkit-transform: rotate(-6.5deg);
    /* Firefox */
    -moz-transform: rotate(-6.5deg);
    /* IE */
    -ms-transform: rotate(-6.5deg);
    /* Opera */
    -o-transform: rotate(-6.5deg);

    letter-spacing: 0.04em;
    color: white;
    text-transform: lowercase;
    z-index:100;
    position:absolute;
    margin-top: -30px   ;
    margin-left: -20px;
    }
}

.billi-contact-name{
    font-family: 'billi-font';
    color: white;
    text-transform: lowercase;
    font-size: 60px;
}

.small-black-circle {
    background: #5a5a59;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 10px
}

.notificationActive{
    color: #276874 !important;
}

.conversationActive{
    color: #276874 !important;
}

.openRequestsActive{
    color: #276874 !important;
}

.openOffersActive{
    color: #276874 !important;
}
.helpHistoryActive{
    color: #276874 !important;
}

.referencesActive{
    color: #276874 !important;
}


.rating {
    overflow: hidden;
    display: inline-block;
}
.rating-input {
    position: absolute;
    left: 0;
    top: -50px;
}
.rating-star {
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
}
.rating-star:hover,
.rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}

.img-circle {
    border-radius: 50%;
}

.languageSelector{
    color: #000000;!important;
    font-family: 'DescriptionBoxText' !important;
}


.response-button{
    background: #879a24 !important;
    background: -webkit-linear-gradient(#879a24, #436c0f) !important;
    background: -moz-linear-gradient(#879a24, #436c0f) !important;
    background: -ms-linear-gradient(#879a24, #436c0f) !important;
    background: -o-linear-gradient(#879a24, #436c0f) !important;
    background: linear-gradient(#879a24,#436c0f) !important;
    border-color: #476D00 !important;
    border: 1px !important;
    text-shadow: 1px 1px rgba(0,0,0,0.2) !important;
    color: #fff !important;
    font-weight: bold !important;
}


.overlay {
    background:transparent;
    position:relative;
    width:100%;
    height:400px; /* your iframe height */
    top:400px;  /* your iframe height */
    margin-top:-400px;  /* your iframe height */
}

 .scrolloff {
     pointer-events: none;
 }



    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }


.my-navbar .row [class*="col-"] {
    margin-top: 10px
}
#mynavcollapse {
    clear: both;
    padding: 0 0 10px;
    background: #eee;
}


.my-navbar .navbar-brand {
    float: none;
    display: inline-block;
    padding: 7px 0 0 0;
}
.my-navbar .row {
    margin-left: -.5%;
    margin-right: -.5%;
}
.my-navbar .row [class*="col-"] {
    min-height: 1px;
    padding-left: .5%;
    padding-right: .5%;
    padding-top: 10px;
    margin-top: 0;
}




.destination-description{
font-size:12px;
}

.google-map-input-field{
    display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
padding-top: 6px;
padding-right: 12px;
padding-bottom: 6px;
padding-left: 12px;
font-size: 14px;
line-height: 1.428571429;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.mobile-navbar {
}
@media (max-width: 400px) {
    .mobile-navbar{
    clear: both;
    }
    }

.fix-section-header{
    padding-left: 15px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}

.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}

.notice {
    padding: 15px;
    background-color: #989898;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}

.notice-success {
    border-color: #2d856f;
}
.notice-success>strong {
    color: black;
}